{
  "openapi": "3.0.1",
  "info": {
    "title": "Accounting API",
    "version": "v0",
    "description": "The Accounting API provides programmatic access to financial data and operations for hospitality properties. Use this API to manage transactions, folios, deposits, accounts receivable ledgers, trial balances, and related accounting configuration.\n\n**Key concepts:**\n- **Transactions** represent individual financial entries (charges, payments,\n  taxes, fees) associated with a source such as a reservation, group profile,\n  or house account.\n\n- **Folios** organize transactions into logical groups within a source. You\n  can create custom folios and move or route transactions between them.\n\n- **Source Balances** provide a real-time financial summary (charges, payments,\n  balance due, tax/fee breakdowns) for a reservation, group profile, house\n  account, or accounts receivable ledger.\n\n- **Accounts Receivable (AR) Ledgers** track outstanding balances that have\n  been transferred from reservations or group profiles for later collection.\n\n- **Trial Balance** is a daily financial reconciliation report that summarizes\n  ledger activity across guest, deposit, and AR ledgers.\n\n- **Custom Codes** let you map Cloudbeds internal transaction codes to your\n  own chart-of-accounts codes and general ledger codes.\n\n\n**Authentication:**\nAll endpoints require a valid OAuth2 bearer token. Endpoints are protected by scopes: `read:payment` for read operations and `write:payment` for mutating operations. A few search endpoints use POST with a request body to support complex filter criteria; these require the `read:payment` scope.\n\n**Base URL:**\nUse `https://api.cloudbeds.com` for production and `https://api.cloudbeds-stage.com` for staging. All endpoint paths are prefixed with `/accounting/v1.0`.\n\n**Property context:**\nEvery request must include the `X-Property-ID` header to identify which property the request applies to.\n\n**Monetary amounts:**\nUnless otherwise noted, monetary amounts are expressed in the smallest currency unit (e.g., cents for USD). Use the `currencyScale` field to determine the number of decimal places.\n\n**Pagination:**\nPaginated endpoints return a `nextPageToken` value. Pass this token in subsequent requests to retrieve the next page of results. When `nextPageToken` is null or absent, you have reached the last page.\n"
  },
  "servers": [
    {
      "url": "https://api.cloudbeds.com"
    }
  ],
  "paths": {
    "/accounting/v1.0/settings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Settings"
        ],
        "operationId": "getSettings",
        "summary": "Get property accounting settings",
        "description": "Retrieve the accounting settings for a property. Use this endpoint to check the current configuration, such as the deposit consumption policy. Settings control how certain accounting behaviors work across the property.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingPatchRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "patchSettings",
        "summary": "Update property accounting settings",
        "description": "Update one or more accounting settings for a property. You only need to include the fields you want to change; unspecified fields remain unchanged. If no settings exist for the property, they are created automatically.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/deposits/transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Deposits"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferDepositPostRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "postDepositsTransfer",
        "summary": "Transfer deposit transactions",
        "description": "Transfer one or more deposit transactions to the guest ledger. Provide the transaction IDs of the deposits you want to transfer. This operation is processed asynchronously; the response includes an event ID you can use to track the result.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncEventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerFilter"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "getAccountsReceivableLedgers",
        "summary": "List accounts receivable ledgers",
        "description": "Retrieve a paginated list of accounts receivable (AR) ledgers for a property. You can filter by status, date range, balance range, profile, and search query. Use AR ledgers to track balances that have been transferred from reservations or group profiles for later collection.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableLedgerPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountsReceivableLedgerPostRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "postAccountsReceivableLedger",
        "summary": "Create an accounts receivable ledger",
        "description": "Create a new accounts receivable (AR) ledger for a property. An AR ledger provides a way to track outstanding balances outside of a reservation, such as invoices sent to a corporate client. You must provide a name, and can optionally link the ledger to a profile.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableLedgerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountsReceivableLedgerPatchRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "patchAccountsReceivableLedger",
        "summary": "Update an accounts receivable ledger",
        "description": "Update an existing accounts receivable (AR) ledger. You can change the name, description, linked profile, or status. Only include the fields you want to update. To close a ledger, set the status to CLOSED; note that a ledger can only be closed when its balance is zero.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableLedgerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers/{accountsReceivableLedgerId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerId"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "getAccountsReceivableLedgerById",
        "summary": "Get an accounts receivable ledger by ID",
        "description": "Retrieve a single accounts receivable (AR) ledger by its unique identifier. The response includes the ledger name, status, total charges, amount paid, and outstanding balance.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableLedgerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers/{accountsReceivableLedgerId}/transactions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerId"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque token for cursor-based pagination. Pass the `nextPageToken` value from a previous response to retrieve the next page. Omit this parameter (or pass null) for the first page.\n"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return per page. If not specified, the server uses a default page size.\n"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerTransactionsFilter"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "getAccountsReceivableLedgerTransactions",
        "summary": "List transactions for an AR ledger",
        "description": "Retrieve a paginated list of transactions belonging to a specific accounts receivable (AR) ledger. You can filter by transaction state (posted or pending), date ranges, transaction type, and more. Use this endpoint to review the detailed financial activity within an AR ledger.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableTransactionPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers/totals": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/GetAccountsReceivableLedgerTotalsFilterParameter"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "getAccountsReceivableLedgerTotals",
        "summary": "Get AR ledger totals",
        "description": "Retrieve aggregated totals across all accounts receivable (AR) ledgers for a property. The response includes the combined total charges, amount paid, and outstanding balance. You can optionally filter by ledger status to see totals for only open or closed ledgers.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableLedgerTotalsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers/{accountsReceivableLedgerId}/reservation/{reservationId}/balance-transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerId"
          },
          {
            "$ref": "#/components/parameters/reservationId"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "postAccountsReceivableLedgerReservationBalanceTransfer",
        "summary": "Transfer a reservation balance to an AR ledger",
        "description": "Transfer the outstanding balance of a reservation to an accounts receivable (AR) ledger. This creates a transfer transaction that moves the balance from the reservation to the specified AR ledger for later collection. This operation is processed asynchronously; the response includes an event ID you can use to track the result.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncEventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerId"
          },
          {
            "$ref": "#/components/parameters/reservationId"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "deleteAccountsReceivableLedgerReservationBalanceTransfer",
        "summary": "Reverse a reservation-to-AR balance transfer",
        "description": "Reverse a previously created balance transfer between a reservation and an accounts receivable (AR) ledger. This moves the transferred balance back to the original reservation. This operation is processed asynchronously; the response includes an event ID you can use to track the result.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncEventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers/{accountsReceivableLedgerId}/group-profile/{groupProfileId}/balance-transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountsReceivableLedgerId"
          },
          {
            "$ref": "#/components/parameters/groupProfileId"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGroupProfileBalanceTransferRequest"
              }
            }
          }
        },
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "postAccountsReceivableLedgerGroupBalanceTransfer",
        "summary": "Transfer a group profile balance to an AR ledger",
        "description": "Transfer the outstanding balance of a group profile to an accounts receivable (AR) ledger. You can optionally specify a folio ID to transfer the balance from a specific folio within the group profile. This operation is processed asynchronously; the response includes an event ID you can use to track the result.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncEventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/accounts-receivable-ledgers/reservation/{reservationId}/balance-transfer": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/reservationId"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Accounts Receivable Ledger"
        ],
        "operationId": "getAccountsReceivableLedgerReservationBalanceTransfer",
        "summary": "Get AR balance transfer details for a reservation",
        "description": "Retrieve the balance transfer details for a specific reservation. If a balance transfer exists between the reservation and an accounts receivable (AR) ledger, the response includes the transfer transaction ID, amount, and the associated AR ledger ID.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsReceivableLedgerReservationBalanceTransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/custom-general-ledger-codes": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "operationId": "getCustomGeneralLedgerCodes",
        "summary": "List custom general ledger codes",
        "description": "Retrieve all custom general ledger (GL) codes configured for a property. GL codes let you map Cloudbeds transaction categories to your own chart-of-accounts structure for reporting and export to external accounting systems.\n",
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Custom General Ledger Codes"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomGeneralLedgerCodeModel"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "summary": "Create or update custom general ledger codes",
        "description": "Create or update custom general ledger (GL) codes for a property. Send the full list of GL codes you want to persist. Each code must have a unique name and code value. You can assign codes to groups (payments, products, reservations, taxes/fees, etc.) to categorize them. To archive a code, set its `archived` flag to true.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomGeneralLedgerCodesUpdateRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "putCustomGeneralLedgerCodes",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Custom General Ledger Codes"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/custom-transaction-codes": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "operationId": "getCustomTransactionCodes",
        "summary": "List custom transaction codes",
        "description": "Retrieve all custom transaction code mappings for a property. Custom transaction codes let you assign your own codes to each Cloudbeds internal transaction type (e.g., room rate, tax, payment method). You must call the initialize endpoint before codes can be retrieved for the first time.\n",
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Custom Transaction Codes"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomTransactionCodesModel"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "summary": "Update custom transaction code mappings",
        "description": "Update custom transaction code mappings for a property. For each mapping, provide the record ID and the new custom code value. You can also optionally assign a custom general ledger code to each transaction code. Only the mappings you include in the request are updated; others remain unchanged.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomTransactionCodesUpdateRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "putCustomTransactionCodes",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Custom Transaction Codes"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/custom-transaction-codes/initialize": {
      "description": "Before transaction custom codes can be retrieved and modified, they must be initialized. This process generates transaction custom code records without any mapping. Once the initialization is complete, the codes can be retrieved and modified.\n",
      "post": {
        "summary": "Initialize custom transaction codes",
        "description": "Initialize custom transaction code records for a property. You must call this endpoint before you can retrieve or update custom transaction codes. Initialization creates a record for each internal transaction type with an empty custom code mapping. If codes have already been initialized, this endpoint has no additional effect.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "operationId": "initializeCustomTransactionCodes",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Custom Transaction Codes"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/transactions": {
      "post": {
        "summary": "Search posted transactions",
        "description": "Search and retrieve posted transactions for a property. This endpoint uses POST (instead of GET) to support complex filter criteria in the request body. You can combine multiple filters with AND/OR logic, paginate results, and sort by various fields.\n\n**Supported filter fields:**\n  - `account_category`\n  - `chart_of_account_type`\n  - `created_at` (alias for `transaction_datetime`)\n  - `customer_id`\n  - `custom_code`\n  - `external_relation_id`\n  - `external_relation_kind`\n  - `folio_id`\n  - `id`\n  - `internal_code`\n  - `origin_id`\n  - `parent_id`\n  - `routed_from`\n  - `source_id`\n  - `source_identifier`\n  - `source_kind`\n  - `transaction_datetime`\n  - `trial_balance_id`\n  - `service_date`\n\n\n**Supported sort fields:**\n  - `created_at` (alias for `transaction_datetime`)\n  - `id`\n  - `internal_code`\n  - `source_id`\n  - `transaction_datetime`\n  - `service_date`\n\n\n**Required filter constraints:** The API has certain constraints for filters so that the system is able to efficiently query the data. Every request must include at least one of the following base filters:\n  - `id` with operator `equals` or `in`\n  - `source_id` together with `source_kind`\n  - `source_identifier` together with `source_kind`\n  - `external_relation_id` together with `external_relation_kind`\n  - `transaction_datetime`\n  - `service_date`\n  - `trial_balance_id`\n\n\n**Additional filter rules:**\n  - Filters cannot be empty.\n  - `source_id` requires `source_kind` to be present in the same request.\n  - `source_identifier` requires `source_kind` to be present in the same request.\n  - `external_relation_id` and `external_relation_kind` must always be used together.\n  - `trial_balance_id` only supports the `equals` operator and cannot appear more than once.\n  - When using a single filter condition (without `and`/`or`), only `id`, `transaction_datetime`,\n    or `service_date` are allowed, and the operator must be `equals` or `in`.\n\n\n**Example — single filter condition (no AND/OR needed):**\n```\n  {\n    \"filters\": {\n      \"field\": \"id\",\n      \"operator\": \"in\",\n      \"value\": [101, 102, 103]\n    }\n  }\n```\n\n```\n  {\n    \"filters\": {\n      \"field\": \"service_date\",\n      \"operator\": \"equals\",\n      \"value\": \"2024-01-01\"\n    }\n  }\n```\n\n**Example — composite filter condition:**\n```\n  {\n    \"filters\": {\n      \"and\": [\n        {\n          \"field\": \"transaction_datetime\",\n          \"operator\": \"greater_than_or_equal\",\n          \"value\": \"2024-01-01T00:00:00Z\"\n        },\n        {\n          \"field\": \"transaction_datetime\",\n          \"operator\": \"less_than\",\n          \"value\": \"2024-02-01T00:00:00Z\"\n        }\n      ]\n    }\n  }\n```\n\n**Example — composite filter condition with sorting and pagination:**\n```\n  {\n    \"filters\": {\n      \"and\": [\n        {\n          \"operator\": \"greater_than_or_equal\",\n          \"value\": \"2019-01-11T08:59:00Z\",\n          \"field\": \"transaction_datetime\"\n        },\n        {\n          \"operator\": \"equals\",\n          \"value\": \"123\",\n          \"field\": \"source_id\"\n        },\n        {\n          \"operator\": \"equals\",\n          \"value\": \"RESERVATION\",\n          \"field\": \"source_kind\"\n        },\n        {\n          \"or\": [\n            {\n              \"operator\": \"in\",\n              \"value\": [\"1\", \"2\", \"3\"],\n              \"field\": \"customer_id\"\n            },\n            {\n              \"operator\": \"equals\",\n              \"value\": \"9000\",\n              \"field\": \"internal_code\"\n            }\n          ]\n        }\n      ]\n    },\n    \"pageToken\": null,\n    \"limit\": 10,\n    \"sort\": [\n      {\n        \"field\": \"transaction_datetime\",\n        \"direction\": \"asc\"\n      }\n    ]\n  }\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "listTransactions",
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionsPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/folios": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/foliosFilter"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "operationId": "getFolios",
        "summary": "List folios for a source",
        "description": "Retrieve all folios for a given source (reservation, group profile, or configuration). Folios organize transactions into logical groups, such as separating room charges from incidentals. The filter requires both a sourceId and sourceKind to identify the source.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolioResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "summary": "Create a folio",
        "description": "Create a new folio for a source (reservation, group profile, or configuration). You must provide a name, the source details, and the transaction types assigned to it.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "propagateDownstream",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true and source kind is CONFIG, create matching child folios for active reservations and groups using this configuration.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolioRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "createFolio",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFolioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/accounting/v1.0/folios/{id}": {
      "put": {
        "summary": "Update a folio",
        "description": "Update an existing folio. You can change the folio name and the transaction types assigned to it. Transaction types control which kinds of transactions are automatically routed to this folio. Other folio properties (source, configuration) cannot be changed after creation.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Folio ID"
          },
          {
            "name": "propagateDownstream",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true and the folio source kind is CONFIG, propagate name and transaction type changes to child folios of active reservations and groups using this configuration.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolioRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "updateFolio",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a folio",
        "description": "Delete a folio. The folio is soft-deleted and will no longer appear in listings. You cannot delete a folio that still has transactions assigned to it; move or unroute all transactions before deleting.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Folio ID"
          }
        ],
        "operationId": "deleteFolio",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/folios/transactions/move": {
      "post": {
        "summary": "Move transactions between folios",
        "description": "Move transactions to a different folio within the same source. You can specify individual transaction IDs or transaction types (by origin ID and external relation kind) to move all matching transactions at once. At least one of `transactions` or `transactionTypes` must be provided.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "moveTransactions",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/folios/transactions/route": {
      "post": {
        "summary": "Route transactions to a group profile",
        "description": "Route reservation transactions to a group profile folio. Routing binds reservation transactions to a group profile and assigns them to the specified folio. You can specify individual transaction IDs or transaction types (by origin ID and external relation kind) to route all matching transactions at once. At least one of `transactions` or `transactionTypes` must be provided.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "routeTransactions",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/folios/transactions/unroute": {
      "post": {
        "summary": "Unroute transactions from a group profile",
        "description": "Unroute transactions from a group profile back to the original reservation. This reverses a previous routing operation, removing the transactions from the group profile and returning them to the reservation they originated from. Unlike move and route operations, only individual transaction IDs are supported (transaction types are not accepted).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnrouteTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "unrouteTransactions",
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/pending-transactions": {
      "post": {
        "summary": "Search pending transactions",
        "description": "Search and retrieve pending (not yet posted) transactions for a property. Pending transactions represent charges, payments, or adjustments that have been created but not yet finalized. This endpoint uses POST (instead of GET) to support complex filter criteria in the request body. The filter and sort options are the same as for posted transactions.\n\n**Supported filter fields:**\n  - `account_category`\n  - `chart_of_account_type`\n  - `created_at` (alias for `transaction_datetime`)\n  - `customer_id`\n  - `custom_code`\n  - `external_relation_id`\n  - `external_relation_kind`\n  - `folio_id`\n  - `id`\n  - `internal_code`\n  - `origin_id`\n  - `parent_id`\n  - `routed_from`\n  - `source_id`\n  - `source_identifier`\n  - `source_kind`\n  - `transaction_datetime`\n  - `trial_balance_id`\n  - `service_date`\n\n\n**Supported sort fields:**\n  - `created_at` (alias for `transaction_datetime`)\n  - `id`\n  - `internal_code`\n  - `source_id`\n  - `transaction_datetime`\n  - `service_date`\n\n\n**Required filter constraints:** The API has certain constraints for filters so that the system is able to efficiently query the data. Every request must include at least one of the following base filters:\n  - `id` with operator `equals` or `in`\n  - `source_id` together with `source_kind`\n  - `source_identifier` together with `source_kind`\n  - `external_relation_id` together with `external_relation_kind`\n  - `transaction_datetime`\n  - `service_date`\n  - `trial_balance_id`\n\n\n**Additional filter rules:**\n  - Filters cannot be empty.\n  - `source_id` requires `source_kind` to be present in the same request.\n  - `source_identifier` requires `source_kind` to be present in the same request.\n  - `external_relation_id` and `external_relation_kind` must always be used together.\n  - `trial_balance_id` only supports the `equals` operator and cannot appear more than once.\n  - When using a single filter condition (without `and`/`or`), only `id`, `transaction_datetime`,\n    or `service_date` are allowed, and the operator must be `equals` or `in`.\n\n\n**Example — single filter condition (no AND/OR needed):**\n```\n  {\n    \"filters\": {\n      \"field\": \"id\",\n      \"operator\": \"in\",\n      \"value\": [101, 102, 103]\n    }\n  }\n```\n\n```\n  {\n    \"filters\": {\n      \"field\": \"service_date\",\n      \"operator\": \"equals\",\n      \"value\": \"2024-01-01\"\n    }\n  }\n```\n\n**Example — composite filter condition:**\n```\n  {\n    \"filters\": {\n      \"and\": [\n        {\n          \"field\": \"transaction_datetime\",\n          \"operator\": \"greater_than_or_equal\",\n          \"value\": \"2024-01-01T00:00:00Z\"\n        },\n        {\n          \"field\": \"transaction_datetime\",\n          \"operator\": \"less_than\",\n          \"value\": \"2024-02-01T00:00:00Z\"\n        }\n      ]\n    }\n  }\n```\n\n**Example — composite filter condition with sorting and pagination:**\n```\n  {\n    \"filters\": {\n      \"and\": [\n        {\n          \"operator\": \"greater_than_or_equal\",\n          \"value\": \"2019-01-11T08:59:00Z\",\n          \"field\": \"transaction_datetime\"\n        },\n        {\n          \"operator\": \"equals\",\n          \"value\": \"123\",\n          \"field\": \"source_id\"\n        },\n        {\n          \"operator\": \"equals\",\n          \"value\": \"RESERVATION\",\n          \"field\": \"source_kind\"\n        },\n        {\n          \"or\": [\n            {\n              \"operator\": \"in\",\n              \"value\": [\"1\", \"2\", \"3\"],\n              \"field\": \"customer_id\"\n            },\n            {\n              \"operator\": \"equals\",\n              \"value\": \"9000\",\n              \"field\": \"internal_code\"\n            }\n          ]\n        }\n      ]\n    },\n    \"pageToken\": null,\n    \"limit\": 10,\n    \"sort\": [\n      {\n        \"field\": \"transaction_datetime\",\n        \"direction\": \"asc\"\n      }\n    ]\n  }\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPendingTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "listPendingTransactions",
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPendingTransactionsPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/folios/transactions": {
      "post": {
        "summary": "Search folio transactions",
        "description": "Search and retrieve both posted and pending transactions for a source (reservation, group profile, or house account), merged into a single response. This endpoint uses POST (instead of GET) to support complex filter and grouping criteria in the request body. Results can be grouped by date, transaction type, folio, or other fields.\n\nResults are always wrapped in groups. When groupBy is specified, transactions are grouped by that field. When omitted, all transactions are placed in a single group with key \"default\". Pagination is applied first (cursor-based on flat transactions), then grouping is applied to the page results. Groups at page boundaries may be partial.\n\nWhen includeTotal is true, totals and foreign currency totals are computed on the first page and cached in Redis. Subsequent pages return cached totals. When no filters are applied, the total amount is read from the pre-computed source balance for optimal performance.\n\nSupported filter fields: folioId, posted, descriptionFilters, transactionDate range, serviceDate range, subSourceIds, searchQuery.\n\nSupported sort fields: transaction_datetime, service_date, id, internal_code.\n\nSupported groupBy fields: transaction_date, service_date, internal_code_group, description, sub_source_identifier, folio_id, user_id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFolioTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "operationId": "listFolioTransactions",
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFolioTransactionsPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/folios/summary": {
      "get": {
        "summary": "Get folio balance summary",
        "description": "Retrieve a summary of each folio for a given source (reservation or group profile). Returns a map keyed by folio ID, where each value contains the folio's balance due. The balance is computed from both posted and pending transactions assigned to each folio.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/foliosFilter"
          }
        ],
        "operationId": "getFoliosSummary",
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Folios"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolioSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/trial-balance/configuration/status": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "operationId": "isTrialBalanceConfigured",
        "summary": "Check trial balance configuration status",
        "description": "Check whether a property has configured its trial balance. The response indicates whether the trial balance is configured and, if so, the date it was set up. You must configure the trial balance before you can generate daily reports.\n",
        "tags": [
          "Trial balance"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalanceConfigurationStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/v1.0/trial-balance/configuration/calculate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "operationId": "calculateTrialBalance",
        "summary": "Calculate initial trial balance",
        "description": "Calculate the initial trial balance for a property based on all historical transaction records up to the end of yesterday (in property local time). Use this endpoint to preview the opening balances before committing the trial balance configuration. The response contains the computed deposit ledger, accounts receivable ledger, and guest ledger opening balances.\n",
        "tags": [
          "Trial balance"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/v1.0/trial-balance/configuration": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "operationId": "getTrialBalanceConfiguration",
        "summary": "Get trial balance configuration",
        "description": "Retrieve the saved trial balance configuration for a property, including the configured opening balances for the deposit ledger, accounts receivable ledger, and guest ledger. Returns the configuration date and the opening balance values that were set when the trial balance was initialized.\n",
        "tags": [
          "Trial balance"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalanceResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setTrialBalance",
        "summary": "Configure trial balance",
        "description": "Configure the trial balance for a property by saving the opening balances as of today. You must provide opening balances for the deposit ledger, accounts receivable ledger, and guest ledger. This operation can only be performed once per property; it returns an error if a trial balance configuration already exists. Use the calculate endpoint first to preview the recommended opening balance values.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "tags": [
          "Trial balance"
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrialBalanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccountingError"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/v1.0/deposits/balance": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "sourceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Identifier of the source to get the deposit balance for (e.g., a reservation ID). Omit along with sourceKind to get the property-wide deposit balance.\n"
          },
          {
            "name": "sourceKind",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SourceKind"
            },
            "description": "Type of the source entity. Required when sourceId is provided.\n"
          }
        ],
        "operationId": "getDepositBalance",
        "summary": "Get deposit balance",
        "description": "Retrieve the deposit balance for a specific source or the entire property. To get the balance for a specific reservation or other source, provide both sourceId and sourceKind. To get the aggregate deposit balance for the whole property, omit both parameters. The response includes the posted balance and pending balance in the smallest currency unit.\n",
        "tags": [
          "Deposits"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositBalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/v1.0/deposits/transactions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque token for cursor-based pagination. Pass the `nextPageToken` value from a previous response to retrieve the next page. Omit this parameter (or pass null) for the first page.\n"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return per page. If not specified, the server uses a default page size.\n"
          },
          {
            "$ref": "#/components/parameters/depositTransactionsFilter"
          }
        ],
        "operationId": "getDepositTransactions",
        "summary": "List deposit transactions",
        "description": "Retrieve a paginated list of deposit transactions for a property. You can filter by transaction state, reservation, date ranges (transaction date, check-in, check-out), reservation status, and user. Use this endpoint to review deposit activity including payments received, transfers, and refunds.\n",
        "tags": [
          "Deposits"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedTransactionPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/trial-balance/report": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2024-07-21",
              "description": "Requested date",
              "format": "date"
            }
          }
        ],
        "operationId": "getTrialBalanceReport",
        "summary": "Get trial balance report",
        "description": "Retrieve the trial balance report for a specific date. The report provides a daily financial reconciliation showing opening and closing balances, ledger activity, deposit and AR transfers, and a detailed breakdown of guest ledger charges, taxes, and payments by transaction code. The property must have a configured trial balance before reports can be generated.\n",
        "tags": [
          "Trial balance"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalanceReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/v1.0/internal-transaction-codes": {
      "get": {
        "operationId": "getInternalTransactionCodes",
        "summary": "List internal transaction codes",
        "description": "Retrieve the complete list of Cloudbeds internal transaction codes. These are system-defined codes that categorize each type of transaction (e.g., room rate, tax, fee, payment). Internal codes cannot be modified, but you can map them to your own custom codes using the custom transaction codes endpoints.\n",
        "tags": [
          "Internal transaction codes"
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTransactionCodesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/v1.0/source-balances/{sourceKind}/{sourceId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/sourceKind"
          },
          {
            "$ref": "#/components/parameters/sourceId"
          },
          {
            "$ref": "#/components/parameters/acceptLanguageHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "SourceBalance"
        ],
        "operationId": "getSourceBalanceBySource",
        "summary": "Get source balance",
        "description": "Retrieve the financial balance summary for a specific source. The source can be a reservation, house account, group profile, or accounts receivable ledger, identified by the sourceKind and sourceId path parameters. The response includes a detailed breakdown of charges (subtotal, additional items, taxes, fees), payments, refunds, upcoming payments, and the overall balance due. Use the optional Accept-Language header to receive localized tax and fee names.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceBalanceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/source-balances/snapshots/{reservationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/reservationId"
          },
          {
            "$ref": "#/components/parameters/acceptLanguageHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "SourceBalance"
        ],
        "operationId": "getSourceBalanceSnapshotBySource",
        "description": "Get source balance snapshot information for a reservation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceBalanceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/folios/configurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "includeFolios",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include folios and their transaction types"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "getFolioConfigurations",
        "description": "Get all folio configurations for a property",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolioConfiguration"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "propagateDownstream",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to propagate changes to downstream reservation and group folios"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "saveFolioConfiguration",
        "summary": "Create or update a folio configuration",
        "description": "Create a new folio configuration or update an existing one for a property. A folio configuration defines a template for how folios are structured, including which booking sources are included and which transaction types are assigned to each folio. To update an existing configuration, include its ID in the request body.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolioConfigurationData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolioConfigurationSaveResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/folios/configurations/{id}": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ID of the folio configuration"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "patchFolioConfiguration",
        "summary": "Partially update a folio configuration",
        "description": "Partially update a folio configuration. Accepts optional isDefault, name, and description fields. Only provided fields are updated.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolioConfigurationPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolioConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ID of the folio configuration"
          },
          {
            "name": "includeFolios",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include folios and their transaction types"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "getFolioConfiguration",
        "description": "Get a folio configuration by ID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolioConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ID of the folio configuration"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "write:payment"
            ]
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "deleteFolioConfiguration",
        "summary": "Delete a folio configuration",
        "description": "Delete a folio configuration by its ID. The default configuration cannot be deleted; set another configuration as default first. Existing folios that were created from this configuration are not affected.\n",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/folios/configurations/sources": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "sourceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Source ID (e.g., Reservation ID, Group Profile ID)"
          },
          {
            "name": "sourceKind",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FolioSourceKind"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "getFolioConfigurationSource",
        "description": "Get which folio configuration is assigned to a source",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolioConfigurationToSourceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "assignFolioConfigurationToSource",
        "description": "Assign a folio configuration to a source, replacing existing folios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignFolioConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolioConfigurationToSourceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/accounting/v1.0/folios/rules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "name": "sourceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Group Profile ID"
          },
          {
            "name": "sourceKind",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "$ref": "#/components/schemas/RoutingRuleSourceKind"
            },
            "description": "Deprecated. Defaults to GROUP_PROFILE if not provided.\n"
          },
          {
            "name": "subSourceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Allotment Block ID. When provided, filters rules to only that block. When omitted, returns only group-level rules unless includeSubSourceRules is true.\n"
          },
          {
            "name": "includeSubSourceRules",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true and subSourceId is omitted, also includes block-level (sub-source) rules in the response. Ignored when subSourceId is provided.\n"
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "read:payment"
            ]
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "getRoutingRules",
        "summary": "Get autorouting rules",
        "description": "Retrieve the autorouting rules configured for a group profile. Autorouting rules define which transaction types are automatically routed from reservations to a group profile folio.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutingRuleResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "createRoutingRule",
        "summary": "Create an autorouting rule",
        "description": "Create a new autorouting rule for a group profile. The rule defines which transaction types are automatically routed from reservations to a group profile folio.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutingRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "updateRoutingRule",
        "summary": "Update an autorouting rule",
        "description": "Update or create autorouting rules for a group profile. Entries with an id are updated; entries without an id are created as new rules.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoutingRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/accounting/v1.0/folios/transactions/filters": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/propertyIdHeader"
          },
          {
            "$ref": "#/components/parameters/acceptLanguageHeader"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Folio Configuration"
        ],
        "operationId": "getFolioTransactionsFilters",
        "summary": "Get the structured filter tree of routable transaction types",
        "description": "Returns the debit and credit filter tree the folio-config UI uses to pick transaction types to route into a folio. The tree is composed server-side and returned ready to render; the client does not assemble any nodes itself. Labels are localized via the Accept-Language header.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolioTransactionsFiltersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://hotels.cloudbeds.com/api/v1.2/oauth",
            "scopes": {
              "read:payment": "Read payment and transaction information",
              "write:payment": "Create, update, or delete payment and transaction data"
            }
          }
        }
      }
    },
    "parameters": {
      "GetAccountsReceivableLedgerTotalsFilterParameter": {
        "name": "filter",
        "in": "query",
        "required": false,
        "explode": true,
        "schema": {
          "type": "object",
          "properties": {
            "status": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AccountsReceivableLedgerStatus"
              }
            }
          }
        }
      },
      "accountsReceivableLedgerFilter": {
        "name": "filter",
        "in": "query",
        "required": false,
        "explode": true,
        "schema": {
          "type": "object",
          "properties": {
            "searchQuery": {
              "type": "string",
              "minLength": 1
            },
            "createdDateTimeFrom": {
              "type": "string",
              "format": "date-time"
            },
            "createdDateTimeTo": {
              "type": "string",
              "format": "date-time"
            },
            "balanceFrom": {
              "type": "integer",
              "format": "int64"
            },
            "balanceTo": {
              "type": "integer",
              "format": "int64"
            },
            "totalFrom": {
              "type": "integer",
              "format": "int64"
            },
            "totalTo": {
              "type": "integer",
              "format": "int64"
            },
            "paidFrom": {
              "type": "integer",
              "format": "int64"
            },
            "paidTo": {
              "type": "integer",
              "format": "int64"
            },
            "profileId": {
              "type": "integer",
              "format": "int64"
            },
            "status": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AccountsReceivableLedgerStatus"
              }
            },
            "sortBy": {
              "type": "string",
              "enum": [
                "status",
                "name",
                "created_at",
                "balance",
                "paid",
                "total"
              ],
              "x-enum-varnames": [
                "status",
                "name",
                "created_at",
                "balance",
                "paid",
                "total"
              ],
              "description": "Sort field"
            },
            "sortDirection": {
              "$ref": "#/components/schemas/sortDirection"
            },
            "pageToken": {
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "accountsReceivableLedgerTransactionsFilter": {
        "name": "filter",
        "in": "query",
        "required": false,
        "explode": true,
        "schema": {
          "type": "object",
          "properties": {
            "transactionStates": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionState"
              },
              "description": "transaction states"
            },
            "searchQuery": {
              "type": "string",
              "minLength": 3
            },
            "transactionDateFrom": {
              "type": "string",
              "format": "date"
            },
            "transactionDateTo": {
              "type": "string",
              "format": "date"
            },
            "checkinDateFrom": {
              "type": "string",
              "format": "date"
            },
            "checkinDateTo": {
              "type": "string",
              "format": "date"
            },
            "checkoutDateFrom": {
              "type": "string",
              "format": "date"
            },
            "checkoutDateTo": {
              "type": "string",
              "format": "date"
            },
            "transactionType": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Enum of transaction types",
                "enum": [
                  "TRANSFER",
                  "UNDO_TRANSFER",
                  "PAYMENT"
                ]
              }
            },
            "userId": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "sortBy": {
              "type": "string",
              "enum": [
                "CHECKOUT_DATE",
                "CHECKIN_DATE",
                "TRANSACTION_DATE",
                "AMOUNT"
              ],
              "description": "Sort field"
            },
            "sortDirection": {
              "$ref": "#/components/schemas/sortDirection"
            }
          }
        }
      },
      "depositTransactionsFilter": {
        "name": "filter",
        "in": "query",
        "required": false,
        "explode": true,
        "schema": {
          "type": "object",
          "properties": {
            "transactionStates": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionState"
              },
              "description": "transaction states"
            },
            "includeInactive": {
              "type": "boolean",
              "default": true,
              "description": "Include inactive transactions (voided, consumed, cancelled, deleted)"
            },
            "sourceId": {
              "type": "integer",
              "format": "int64",
              "description": "Filter by source ID. Must be used with sourceKind."
            },
            "sourceKind": {
              "type": "string",
              "enum": [
                "RESERVATION",
                "GROUP_PROFILE"
              ],
              "description": "Filter by source kind. Must be used with sourceId."
            },
            "transactionDateFrom": {
              "type": "string",
              "format": "date"
            },
            "transactionDateTo": {
              "type": "string",
              "format": "date"
            },
            "checkinDateFrom": {
              "type": "string",
              "format": "date"
            },
            "checkinDateTo": {
              "type": "string",
              "format": "date"
            },
            "checkoutDateFrom": {
              "type": "string",
              "format": "date"
            },
            "checkoutDateTo": {
              "type": "string",
              "format": "date"
            },
            "reservationStatuses": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReservationStatus"
              },
              "description": "Filter by one or more reservation statuses (OR logic). When provided, the deprecated reservationStatus field is ignored.\n"
            },
            "userId": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "sortBy": {
              "type": "string",
              "enum": [
                "CHECKOUT_DATE",
                "CHECKIN_DATE",
                "TRANSACTION_DATE",
                "AMOUNT",
                "RESERVATION_STATUS"
              ],
              "description": "Sort field"
            },
            "sortDirection": {
              "$ref": "#/components/schemas/sortDirection"
            }
          }
        }
      },
      "foliosFilter": {
        "name": "filter",
        "in": "query",
        "required": true,
        "explode": true,
        "schema": {
          "type": "object",
          "required": [
            "sourceId",
            "sourceKind"
          ],
          "properties": {
            "sourceId": {
              "type": "integer",
              "format": "int64",
              "description": "Filter by source ID"
            },
            "sourceKind": {
              "$ref": "#/components/schemas/FolioSourceKind"
            }
          }
        },
        "example": {
          "sourceId": 0,
          "sourceKind": "RESERVATION"
        }
      },
      "propertyId": {
        "name": "propertyId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Property id"
      },
      "propertyIdHeader": {
        "name": "X-Property-ID",
        "in": "header",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unique identifier of the property. Required for all requests to scope data to a specific property.\n"
      },
      "apiVersion": {
        "name": "apiVersion",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "v1.0"
          ]
        },
        "description": "API Version"
      },
      "accountsReceivableLedgerId": {
        "name": "accountsReceivableLedgerId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unique identifier of the accounts receivable ledger."
      },
      "reservationId": {
        "name": "reservationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Reservation ID"
      },
      "groupProfileId": {
        "name": "groupProfileId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Group Profile ID"
      },
      "sourceId": {
        "name": "sourceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "description": "Unique identifier of the source entity. The meaning depends on the sourceKind parameter: a reservation ID, house account ID, group profile ID, or accounts receivable ledger ID.\n"
      },
      "sourceKind": {
        "name": "sourceKind",
        "in": "path",
        "required": true,
        "description": "The type of source entity. Determines how the sourceId is interpreted.\n",
        "schema": {
          "$ref": "#/components/schemas/SourceKind"
        }
      },
      "acceptLanguageHeader": {
        "name": "Accept-Language",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "en-US",
            "es-ES",
            "es-MX",
            "fr-FR",
            "de-DE",
            "it-IT",
            "pt-PT",
            "pt-BR"
          ],
          "default": "en-US"
        },
        "description": "Language preference for localized tax/fee names.\nSupports: en-US (English US), es-ES (Spanish Spain), es-MX (Spanish Mexico), \nfr-FR (French), de-DE (German), it-IT (Italian), pt-PT (Portuguese Portugal), pt-BR (Portuguese Brazil).\nDefaults to en-US if not provided or unsupported language is specified.\n"
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiAccountingError"
            }
          }
        }
      },
      "403": {
        "description": "Access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiAccountingError"
            }
          }
        }
      },
      "404": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiAccountingError"
            }
          }
        }
      }
    },
    "schemas": {
      "TransactionItemGroup": {
        "type": "string",
        "description": "Category grouping for transaction item codes. Used to classify custom transaction codes and general ledger codes.\n- `items_services` — Products and services sold to guests (minibar, restaurant, spa, etc.).\n- `reservations` — Room rate charges and room revenue adjustments.\n- `taxes_fees` — Tax and fee line items applied to charges.\n- `payments` — Payment transactions (cash, card, bank transfer, etc.).\n- `accrual_accounting` — Accrual accounting entries for revenue recognition.\n- `custom_item` — Custom POS or manually created charge items.\n- `spaces` — Charges related to bookable spaces (meeting rooms, event venues, etc.).\n- `accounts_receivable_transfers` — Transfers to or from accounts receivable ledgers.\n- `deposit_transfers` — Transfers to or from the deposit ledger.\n",
        "enum": [
          "items_services",
          "reservations",
          "taxes_fees",
          "payments",
          "accrual_accounting",
          "custom_item",
          "spaces",
          "accounts_receivable_transfers",
          "deposit_transfers",
          "channel_commission",
          "gratuity"
        ]
      },
      "DepositConsumptionEnum": {
        "type": "string",
        "description": "Controls when deposit transactions are automatically transferred to the guest ledger. MANUAL means deposits are only transferred when explicitly requested. CHECK_IN means deposits are automatically transferred when the guest checks in. CHECK_OUT means deposits are automatically transferred when the guest checks out.\n",
        "enum": [
          "MANUAL",
          "CHECK_IN",
          "CHECK_OUT"
        ]
      },
      "SettingValues": {
        "type": "object",
        "properties": {
          "depositConsumption": {
            "$ref": "#/components/schemas/DepositConsumptionEnum"
          }
        }
      },
      "SettingPatchRequest": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/SettingValues"
          }
        }
      },
      "SettingResponse": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/SettingValues"
          }
        }
      },
      "AnyValue": {
        "description": "Can be any of supported OpenApi types."
      },
      "ApiAccountingError": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ApiErrorCode"
          },
          "errorDetails": {
            "type": "string"
          }
        }
      },
      "AccountsReceivableLedgerStatus": {
        "type": "string",
        "description": "Status of an accounts receivable ledger. OPEN ledgers can receive balance transfers and payments. CLOSED ledgers are settled and no longer accept new transactions.\n",
        "enum": [
          "OPEN",
          "CLOSED"
        ]
      },
      "TransactionState": {
        "type": "string",
        "description": "The state of a transaction. POSTED transactions are finalized and appear on the guest folio. PENDING transactions have been created but are not yet finalized (e.g., an authorized payment that has not been captured).\n",
        "enum": [
          "POSTED",
          "PENDING"
        ]
      },
      "AccountsReceivableLedgerName": {
        "type": "string",
        "minLength": 1,
        "maxLength": 50
      },
      "AccountsReceivableLedgerDescription": {
        "type": "string",
        "minLength": 0,
        "maxLength": 200
      },
      "ApiErrorCode": {
        "type": "string",
[...]
