openapi: 3.0.1
info:
  title: Fiscal document service API
  version: v1
servers:
  - url: https://api.cloudbeds.com
paths:
  "/fiscal-document/v1/fiscal-documents":
    get:
      summary: Get list of fiscal documents
      description: Retrieves a paginated list of fiscal documents filtered by optional criteria.
      operationId: getFiscalDocuments
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: pageToken
          in: query
          description: Token for fetching the next page, as per cursor-based pagination.
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: |
            Supported fields:
             - createdAt
             - dueDate
             - invoiceDate
             - kind
             - status

            Supported sort modes asc:desc. If not supplied default is asc.
          required: false
          schema:
            type: string
            example: createdAt:desc
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - in: query
          name: filters
          schema:
            $ref: "#/components/schemas/FiscalDocumentFilters"
          style: form
          explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentPaginated"
  "/fiscal-document/v1/fiscal-documents/{id}":
    put:
      summary: Update a fiscal document by id
      description: |
        Update a fiscal document status, government integration details, or failure reason.
        Used by integration partners to update document lifecycle and government processing status.

        **Common Updates:**
        - Update status (PENDING_INTEGRATION, COMPLETED_INTEGRATION, FAILED, etc.)
        - Set government integration details (series, number, external ID, QR codes)
        - Record failure reasons for failed integrations

        **Invoice Cancellation (Spanish Properties Only):**
        - Set status to CANCEL_REQUESTED to cancel invoices
        - Only invoices in OPEN, PAID, PARTIALLY_PAID or CORRECTION_NEEDED status can be canceled
        - Invoices with rectifying documents cannot be canceled
        - Integration partners must handle CANCEL_REQUESTED and update to CANCELED (success) or revert to previous status (failure)
      operationId: putFiscalDocument
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the fiscal document to download.
          schema:
            type: integer
            format: int64
            minimum: 1
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FiscalDocumentPatchRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
  "/fiscal-document/v1/fiscal-documents/transactions":
    get:
      summary: Get available transactions for fiscal documents
      description: |
        Retrieves a paginated list of available transactions for a source based on the document type.
        - For INVOICE: Returns posted (paid) transactions, and pending transactions when feature.fiscal-document.pending-transactions is enabled
        - For CREDIT_NOTE: Returns posted (paid) transactions, and pending transactions when feature.fiscal-document.pending-transactions is enabled
        - For PRO_FORMA_INVOICE: Returns both pending transactions and posted (paid) payments
        - Transactions already included in fiscal documents are excluded
        - Each transaction includes a status field (PENDING or POSTED)
      operationId: getFiscalDocumentTransactions
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: forDocumentType
          deprecated: true
          in: query
          description: Document type for which transactions are related (deprecated, use `documentKind` instead).
          schema:
            $ref: "#/components/schemas/FiscalDocumentKind"
        - name: documentKind
          in: query
          description: Document type for which transactions are related.
          required: false
          schema:
            $ref: "#/components/schemas/FiscalDocumentKind"
        - name: pageToken
          in: query
          description: Token for fetching the next page, as per cursor-based pagination.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sourceId
          in: query
          description: source ID.
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: sort
          in: query
          description: Supported fields - createdAt, serviceDate, sourceId, transactionDate, internalCode
          required: false
          schema:
            type: string
            example: createdAt:desc
        - name: sourceKind
          in: query
          description: Filter by source kind.
          required: true
          schema:
            $ref: "#/components/schemas/SourceKind"
        - name: folioIds
          in: query
          description: Filter by folio IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentTransactionsPaginated"
  "/fiscal-document/v1/fiscal-documents/allocations/transactions":
    get:
      summary: Get available transactions for allocations
      description: |
        Retrieves a paginated list of available transactions for allocations.
      operationId: getFiscalDocumentTransactionsForAllocation
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: pageToken
          in: query
          description: Token for fetching the next page, as per cursor-based pagination.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sourceId
          in: query
          description: source ID.
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: sort
          in: query
          description: Supported fields - createdAt, serviceDate, sourceId, transactionDate, internalCode
          required: false
          schema:
            type: string
            example: createdAt:desc
        - name: sourceKind
          in: query
          description: Filter by source kind.
          required: true
          schema:
            $ref: "#/components/schemas/SourceKind"
        - name: folioIds
          in: query
          description: Filter by folio IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
        - name: documentIds
          in: query
          description: document IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
            maxItems: 1
        - name: documentId
          in: query
          description: document ID.
          required: false
          schema:
            type: integer
            format: int64
        - name: statuses
          in: query
          description: Filter by status.
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TransactionStatus"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentTransactionsForAllocationPaginated"
  "/fiscal-document/v1/fiscal-documents/allocations":
    get:
      summary: Get payment allocation transactions
      description: |
        Retrieves payment allocations.
      operationId: getAllocations
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: sourceIds
          in: query
          description: source IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: sourceIdentifiers
          in: query
          description: source Identifiers.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: sourceKind
          in: query
          description: Filter by source kind.
          required: false
          schema:
            $ref: "#/components/schemas/SourceKind"
        - name: receiptIds
          in: query
          description: document IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Allocations"
  "/fiscal-document/v1/invoices/{id}/receipts/allocations":
    get:
      summary: Get allocations for an invoice
      description: |
        Retrieves all active allocations for the specified invoice, grouped by transaction ID.
        Only includes allocations from receipts with active statuses.
      operationId: getInvoiceAllocations
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: id
          in: path
          description: Invoice ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceAllocationsResponse"
        '400':
          description: Bad Request - Invalid request (document is not an invoice or invalid ID format)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Bad Request - Invoice not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
  "/fiscal-document/v1/fiscal-documents/allocations/summary":
    get:
      summary: Get allocations summary
      description: |
        Retrieves allocations summary.
      operationId: getAllocationsSummary
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: sourceId
          in: query
          description: source ID.
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: sourceKind
          in: query
          description: Filter by source kind.
          required: true
          schema:
            $ref: "#/components/schemas/SourceKind"
        - name: folioIds
          in: query
          description: Filter by folio IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
        - name: documentIds
          in: query
          description: document IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AllocationsSummary"
  "/fiscal-document/v1/fiscal-documents/transactions/summary":
    get:
      deprecated: true
      summary: Get totals of selected available transactions for fiscal documents (deprecated)
      description: |
        **Deprecated:** Use POST /fiscal-document/v1/fiscal-documents/transactions/summary instead.
        Get totals of selected available transactions for fiscal documents based on the document type.
      operationId: getSelectedTransactionsSummary
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: forDocumentType
          deprecated: true
          in: query
          description: Document type for which transactions are related (deprecated, use `documentKind` instead).
          schema:
            $ref: "#/components/schemas/FiscalDocumentKind"
        - name: documentKind
          in: query
          description: Document type for which transactions are related.
          required: false
          schema:
            $ref: "#/components/schemas/FiscalDocumentKind"
        - name: sourceId
          in: query
          description: source ID.
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: sourceKind
          in: query
          description: Filter by source kind.
          required: true
          schema:
            $ref: "#/components/schemas/SourceKind"
        - name: folioIds
          in: query
          description: Filter by folio IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
        - name: excludeTransactionIds
          in: query
          description: transaction IDs to exclude.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
        - name: includeTransactionIds
          in: query
          description: transaction IDs to include.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentTransactionsSummary"
    post:
      summary: Get totals of selected available transactions for fiscal documents
      description: |
        Get totals of selected available transactions for fiscal documents based on the document type.
        Supports partial transaction amounts via transactionIdToAmount.
      operationId: postSelectedTransactionsSummary
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionsSummaryRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentTransactionsSummary"
  "/fiscal-document/v1/fiscal-documents/{id}/transactions":
    get:
      summary: Get list of transactions for a given fiscal document id
      description: Retrieves a paginated list of available transactions for fiscal document id.
      operationId: getFiscalDocumentTransactionsById
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/fiscalDocumentId"
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: pageToken
          in: query
          description: Token for fetching the next page, as per cursor-based pagination.
          required: false
          schema:
            type: string
        - name: includeLinkedDocumentTransactions
          in: query
          description: Include transactions from linked documents.
          required: false
          schema:
            type: boolean
            default: false
        - name: sort
          in: query
          description: Supported fields - createdAt, serviceDate, sourceId, transactionDate, internalCode
          required: false
          schema:
            type: string
            example: createdAt:desc
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: folioIds
          in: query
          description: Filter by folio IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
            minItems: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentTransactionsPaginated"
  "/fiscal-document/v1/fiscal-documents/{id}/transactions/summary":
    get:
      summary: Get totals of transactions for a given fiscal document id
      description: Get totals of transactions for a given fiscal document id.
      operationId: getTransactionsSummaryByDocumentId
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/fiscalDocumentId"
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: includeLinkedDocumentTransactions
          in: query
          description: Include transactions from linked documents.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentTransactionsSummary"
  "/fiscal-document/v1/fiscal-documents/{id}/recipients":
    get:
      summary: Get list of recipients associated to the fiscal document
      description: Retrieves a list of recipients associated to the transaction.
      operationId: getFiscalDocumentRecipientsById
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/fiscalDocumentId"
        - $ref: "#/components/parameters/propertyIdHeader"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FiscalDocumentRecipient"
  '/fiscal-document/v1/fiscal-documents/{id}/download':
    get:
      summary: Download fiscal document
      description: Initiates the download of the fiscal document file
      operationId: downloadFiscalDocument
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/fiscalDocumentId"
        - $ref: "#/components/parameters/propertyIdHeader"
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  '/fiscal-document/v1/fiscal-documents/{id}/email':
    post:
      summary: Email a fiscal document
      description: Initiates the process to send the invoice to a customer
      operationId: emailFiscalDocument
      tags:
        - Fiscal Documents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/fiscalDocumentId"
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FiscalDocumentEmailRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  "/fiscal-document/v1/fiscal-documents/invoice":
    post:
      summary: Create a fiscal document of the type invoice
      description: Create a fiscal document of the type invoice.
      operationId: createInvoice
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateInvoiceRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
  "/fiscal-document/v1/fiscal-documents/invoice/preview":
    post:
      summary: Get fiscal document preview of the type invoice
      description: Get fiscal document preview of the type invoice.
      operationId: getDocumentPreview
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetInvoicePreviewRequest"
        required: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  "/fiscal-document/v1/fiscal-documents/credit-note":
    post:
      summary: Create a fiscal document of the type credit note
      description: Create a fiscal document of the type credit note.
      operationId: createCreditNote
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCreditNoteRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
  "/fiscal-document/v1/fiscal-documents/credit-note/preview":
    post:
      summary: Get fiscal document preview of the type credit note
      description: Get fiscal document preview of the type credit note.
      operationId: getCreditNotePreview
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetCreditNotePreviewRequest"
        required: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  "/fiscal-document/v1/fiscal-documents/rectify-invoice":
    post:
      summary: Create a fiscal document of the type rectify invoice
      description: |
        Create a fiscal document of the type rectify invoice.

        **Spanish Fiscal Regulations:**
        - Only available for properties in Spain
        - An invoice that has already been rectified cannot be rectified again
        - To make corrections to a rectified invoice, you must rectify the most recent invoice in the rectification chain

        **Validation Rules:**
        - The target invoice must not have been previously rectified
        - If the invoice has been rectified, the API will return an error with details about which invoice should be rectified instead
      operationId: createRectifyInvoice
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RectifyInvoiceNoteRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
              examples:
                invoice_already_rectified:
                  summary: Invoice already rectified
                  description: The invoice has already been rectified and cannot be rectified again
                  value:
                    code: "INVOICE_ALREADY_RECTIFIED"
                    message: "This invoice has already been rectified and cannot be rectified again according to Spanish fiscal regulations. To make corrections, you must rectify the most recent invoice in the chain (Invoice ID: 123, Number: INV-2024-001)."
                invalid_property:
                  summary: Property not in Spain
                  description: Rectify invoice is only supported for Spanish properties
                  value:
                    code: "INVALID_REQUEST"
                    message: "Rectify invoice is not supported for this property"
  "/fiscal-document/v1/fiscal-documents/rectify-invoice/preview":
    post:
      summary: Get fiscal document preview of the type rectify invoice
      description: |
        Get fiscal document preview of the type rectify invoice.
        **Spanish Fiscal Regulations:**
        - Only available for properties in Spain
        - An invoice that has already been rectified cannot be rectified again
        - To make corrections to a rectified invoice, you must rectify the most recent invoice in the rectification chain
        **Validation Rules:**
        - The target invoice must not have been previously rectified
        - If the invoice has been rectified, the API will return an error with details about which invoice should be rectified instead
      operationId: getRectifyInvoicePreview
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetRectifyInvoiceNotePreviewRequest"
        required: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  "/fiscal-document/v1/fiscal-documents/{advance_invoice_id}/settlement":
    post:
      summary: Create a settlement invoice for an advance invoice
      description: |
        Create a settlement invoice linked to an existing advance invoice.

        A settlement invoice finalizes the billing cycle started by an advance invoice.
        It references the advance invoice and may include additional transactions
        that were not part of the original advance.

        **Validation Rules:**
        - The parent document must be an ADVANCE_INVOICE
        - The parent document must be in an active status
        - There must not already be an active settlement invoice for this advance
      operationId: createSettlementInvoice
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: advance_invoice_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          description: The ID of the advance invoice to settle
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateSettlementInvoiceRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
  "/fiscal-document/v1/fiscal-documents/pro-forma-invoice/preview":
    post:
      summary: Create a fiscal document of the type pro forma invoice
      description: |
        Create a fiscal document of the type pro forma invoice.

        **Pro Forma Invoice Characteristics:**
        - Contains pending transactions that are subject to change
        - Includes payment information
        - Transactions are NOT locked (unlike regular invoices)
        - Can be converted to regular invoices later when transactions are posted
        - Has its own sequence numbering and settings
      operationId: getProFormaPreview
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProFormaInvoicePreviewRequest"
        required: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  "/fiscal-document/v1/fiscal-documents/pro-forma-invoice":
    post:
      summary: Create a fiscal document of the type pro forma invoice
      description: |
        Create a fiscal document of the type pro forma invoice.

        **Pro Forma Invoice Characteristics:**
        - Contains pending transactions that are subject to change
        - Includes payment information
        - Transactions are NOT locked (unlike regular invoices)
        - Can be converted to regular invoices later when transactions are posted
        - Has its own sequence numbering and settings
      operationId: createProFormaInvoice
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProFormaInvoiceRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
  "/fiscal-document/v1/fiscal-documents/pro-forma-invoice/{id}/status":
    put:
      summary: Update pro forma invoice status
      description: |
        Update the status of a pro forma invoice. Supported status transitions:
        - OPEN -> ACCEPTED, REJECTED, CANCELED
        - ACCEPTED -> CANCELED
        - REJECTED -> CANCELED
      operationId: updateProFormaInvoiceStatus
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the pro forma invoice to update.
          schema:
            type: integer
            format: int64
            minimum: 1
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProFormaStatusUpdateRequest"
      responses:
        '200':
          description: Pro forma invoice status successfully updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
        '400':
          description: Bad Request - Invalid status or document type
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Pro forma invoice not found
  "/fiscal-document/v1/fiscal-documents/receipt":
    post:
      summary: Create receipt for a payment.
      description: |
        Create a receipt for a payment and optionally specify allocations per transaction.
        In case of no allocations, a 'Simple receipt' will be created that can later be allocated to charge transactions.
        The amounts of all allocations must be equal to the payment amount.
        The transactions should not be fully allocated already
          and the amount allocated should not be more than the remaining balance on the transaction.
        All transactions not part of an invoice will be added to newly created invoice.
      operationId: createReceipt
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateReceiptRequest"
        required: true
      responses:
        '200':
          description: Receipt successfully created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Payment or payment transaction not found.
  "/fiscal-document/v1/fiscal-documents/simple-receipt":
    post:
      summary: Create simple receipts.
      description: |
        Create receipts for list of payments without allocations.
      operationId: createSimpleReceipt
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateSimpleReceiptRequest"
        required: true
      responses:
        '200':
          description: Receipt successfully created
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Payment or payment transaction not found.
  "/fiscal-document/v1/fiscal-documents/receipts/{receiptId}/void":
    post:
      summary: Void a receipt
      description: |
        Voids a receipt by updating its status to VOIDED.
        The receipt must be in OPEN status.
        For Italy, a refund receipt will be automatically created and linked to the voided receipt.
      operationId: voidReceipt
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: receiptId
          in: path
          description: The ID of the receipt to void
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Receipt successfully voided
        '400':
          description: Bad Request - Invalid status or document type
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Receipt not found
  "/fiscal-document/v1/fiscal-documents/receipts/{receiptId}/apply":
    post:
      summary: Apply receipt to invoice
      description: |
        Apply receipt to invoice. Receipt should not have allocations
      operationId: applyReceipt
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: receiptId
          in: path
          description: The ID of the receipt
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ApplyReceiptRequest"
      responses:
        '204':
          description: Receipt successfully voided
        '400':
          description: Bad Request - Invalid status or document type
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Receipt not found
  "/fiscal-document/v1/fiscal-documents/receipt/allocate-payment":
    post:
      summary: Allocate payment associated with receipt to charge transactions.
      description: |
        Allocate payment associated with receipt to charge transactions.
        The amounts of all allocations must be equal to the payment amount.
        The transactions should not be fully allocated already
          and the amount allocated should not be more than the remaining balance on the transaction.
        All transactions not part of an invoice will be added to newly created invoice.
      operationId: allocateReceiptPayment
      security:
        - bearerAuth: []
      tags:
        - Fiscal Documents
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AllocateReceiptPaymentRequest"
        required: true
      responses:
        '200':
          description: Receipt will be accepted to start the process of document creation according to country rules
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FiscalDocumentSummaryResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Payment or payment transaction not found.
  "/fiscal-document/v1/configs":
    get:
      summary: Get list of fiscal documents configs
      description: Retrieves a paginated list of fiscal documents filtered by optional criteria.
      operationId: getConfigs
      tags:
        - Configs
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyConfigsResponse'
  "/fiscal-document/v1/configs/{documentKind}":
    put:
      summary: Updates a config of a specific kind
      operationId: updateConfigs
      description: Update document config.
      security:
        - bearerAuth: []
      tags:
        - Configs
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - name: documentKind
          in: path
          required: true
          description: The kind of the fiscal document.
          schema:
            $ref: "#/components/schemas/FiscalDocumentKind"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ConfigsUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConfigsResponse"
  "/fiscal-document/v1/configs/logo":
    get:
      summary: Get logo image for fiscal documents
      operationId: getLogo
      description: Retrieve the logo image used in fiscal document templates as a presigned URL.
      security:
        - bearerAuth: []
      tags:
        - Configs
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      responses:
        '200':
          description: Logo URL retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLogoResponse'
        '404':
          $ref: "#/components/responses/404"
        '403':
          $ref: "#/components/responses/403"
    post:
      summary: Upload logo image for fiscal documents
      operationId: uploadLogo
      description: Upload a logo image to be used in fiscal document templates.
      security:
        - bearerAuth: []
      tags:
        - Configs
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Logo image file
      responses:
        '200':
          description: Logo uploaded successfully
        '400':
          $ref: "#/components/responses/400"
        '403':
          $ref: "#/components/responses/403"
    delete:
      summary: Delete logo image for fiscal documents
      operationId: deleteLogo
      description: Delete the logo image used in fiscal document templates.
      security:
        - bearerAuth: []
      tags:
        - Configs
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      responses:
        '200':
          description: Logo deleted successfully
        '404':
          $ref: "#/components/responses/404"
        '403':
          $ref: "#/components/responses/403"
  "/fiscal-document/v1/configs/preview":
    get:
      summary: Get PDF document preview
      description: Build and return PDF document
      operationId: getPdfPreview
      tags:
        - Configs
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - in: query
          name: previewRequest
          schema:
            $ref: "#/components/schemas/PreviewRequest"
          style: form
          explode: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  "/fiscal-document/v1/fiscalization/registration":
    get:
      summary: Get fiscalization registration for a property
      description: Returns the fiscalization registration (supplier/party info) for the given property.
      operationId: getFiscalizationRegistration
      tags:
        - Fiscalization
      security:
        - bearerAuth: []
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationRegistrationResponse'
        '404':
          $ref: "#/components/responses/404"
    post:
      summary: Create fiscalization registration
      description: Creates a new fiscalization registration (supplier/party info) for the given property.
      operationId: createFiscalizationRegistration
      tags:
        - Fiscalization
      security:
        - bearerAuth: []
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FiscalizationRegistrationRequest"
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationRegistrationResponse'
    put:
      summary: Update fiscalization registration
      description: Updates the fiscalization registration for the given property.
      operationId: updateFiscalizationRegistration
      tags:
        - Fiscalization
      security:
        - bearerAuth: []
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FiscalizationRegistrationRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationRegistrationResponse'
  "/fiscal-document/v1/property/features":
    get:
      summary: Get enabled features for the current user and property
      description: |
        Returns a map of feature flags enabled for the authenticated user in the context of the current property.
      operationId: getPropertyFeatures
      security:
        - bearerAuth: []
      tags:
        - Features
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
      responses:
        '200':
          description: Map of enabled features
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: boolean
                example:
                  INTEGRATION_INVOICING: true
  "/fiscal-document/v1/folios/export":
    post:
      summary: Export folio transactions as PDF
      description: Export folio list of transactions as PDF
      operationId: exportFolioPdf
      security:
        - bearerAuth: []
      tags:
        - Export
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - $ref: "#/components/parameters/acceptLanguageHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetFolioExportRequest"
        required: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  "/fiscal-document/v1/folio-export/pdf":
    post:
      summary: Get folio list of transactions exported as PDF
      description: Get folio list of transactions exported as PDF
      operationId: getFolioPdf
      security:
        - bearerAuth: []
      tags:
        - Export
      parameters:
        - $ref: "#/components/parameters/propertyIdHeader"
        - $ref: "#/components/parameters/acceptLanguageHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetFolioExportRequest"
        required: true
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Used to indicate if the content should be displayed inline or as an attachment.
              schema:
                type: string
  /fiscal-document/v1/fiscalization/registration/rules:
    get:
      tags:
        - Fiscalization
      summary: Get fiscalization registration rules for a country
      description: Returns country-specific fiscalization rules for building forms
      operationId: getFiscalizationRegistrationRules
      parameters:
        - name: country
          in: query
          required: true
          schema:
            type: string
          description: ISO 3166-1 alpha-2 country code (e.g., BR, PL, MX)
      responses:
        '200':
          description: Successfully retrieved fiscalization rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationRegistrationRulesResponse'
        '400':
          description: Invalid country code
        '404':
          description: Rules not found for country
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/registration/validate:
    post:
      tags:
        - Fiscalization
      summary: Validate fiscalization registration data
      description: Validates party data against country-specific fiscalization rules based on the $regime field
      operationId: validateFiscalizationData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalizationRegistrationRequest'
      responses:
        '200':
          description: Validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationValidationResult'
        '400':
          description: Invalid request
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/registration/countries:
    get:
      tags:
        - Fiscalization
      summary: Get available countries for property registration
      description: Returns list of countries available for fiscalization based on property location
      operationId: getFiscalizationRegistrationCountries
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
          description: Property ID
      responses:
        '200':
          description: Available countries retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FiscalizationCountryOption'
        '404':
          description: Property not found
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/registration/status:
    get:
      tags:
        - Fiscalization
      summary: Get registration status for a property
      description: Returns the registration status with government systems for each configured country
      operationId: getFiscalizationRegistrationStatus
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
          description: Property ID
      responses:
        '200':
          description: Registration status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationRegistrationStatus'
        '404':
          description: Property not found
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/provider:
    get:
      tags:
        - Fiscalization
      summary: Get fiscalization provider info for a country
      description: Returns which provider handles fiscal registration for a given country
      operationId: getFiscalizationProvider
      parameters:
        - name: country
          in: query
          required: true
          schema:
            type: string
          description: ISO 3166-1 alpha-2 country code (e.g., BR, PL, MX)
      responses:
        '200':
          description: Provider info retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationProviderInfo'
        '400':
          description: No provider configured for this country
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/consent:
    post:
      tags:
        - Fiscalization
      summary: Record user consent for fiscalization
      description: Records that the user has consented to sharing data with the fiscalization provider
      operationId: createFiscalizationConsent
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
          description: Property ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalizationConsentRequest'
      responses:
        '200':
          description: Consent recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationConsentResponse'
        '400':
          description: Invalid request
      security:
        - bearerAuth: []
    get:
      tags:
        - Fiscalization
      summary: Get consent status for a property
      description: Returns whether the property has consented to fiscalization
      operationId: getFiscalizationConsent
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
          description: Property ID
      responses:
        '200':
          description: Consent status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationConsentResponse'
        '404':
          description: No consent found
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/tax/rules:
    get:
      tags:
        - Fiscalization
      summary: Get fiscalization tax rules for a country
      description: Returns country-specific tax categories and rates for configuring tax mappings
      operationId: getFiscalizationTaxRules
      parameters:
        - name: country
          in: query
          required: true
          schema:
            type: string
          description: ISO 3166-1 alpha-2 country code (e.g., BR, PL, MX)
      responses:
        '200':
          description: Successfully retrieved tax rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationTaxRulesResponse'
        '400':
          description: Invalid country code
      security:
        - bearerAuth: []
  /fiscal-document/v1/fiscalization/tax:
    get:
      tags:
        - Fiscalization
      summary: Get fiscalization tax for a property
      description: Returns the fiscalization tax configuration for the given property
      operationId: getFiscalizationTax
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationTaxResponse'
        '404':
          description: Fiscalization tax config not found for property
      security:
        - bearerAuth: []
    put:
      tags:
        - Fiscalization
      summary: Update fiscalization tax for a property
      description: Creates or updates the fiscalization tax configuration for the given property
      operationId: updateFiscalizationTax
      parameters:
        - name: X-Property-ID
          in: header
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalizationTaxRequest'
        required: true
      responses:
        '200':
          description: Fiscalization tax config saved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalizationTaxResponse'
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    propertyIdHeader:
      name: X-Property-ID
      in: header
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
      description: Property id
    acceptLanguageHeader:
      name: Accept-Language
      in: header
      required: false
      schema:
        type: string
      description: Desired language of exported PDF
    fiscalDocumentId:
      name: id
      in: path
      required: true
      description: Unique ID of the fiscal document to download.
      schema:
        type: string
        minLength: 1
  responses:
    400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    403:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  schemas:
    AnyValue:
      description: 'Can be any of supported OpenApi types.'
    FiscalDocumentEmailRequest:
      type: object
      required:
        - emails
      properties:
        emails:
          type: array
          items:
            type: string
            format: email
          maxItems: 10
          minItems: 1
    CreateCreditNoteRequest:
      type: object
      required: [invoiceId, method]
      properties:
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        invoiceId:
          type: integer
          format: int64
          minimum: 1
        reason:
          type: string
          nullable: true
        userId:
          type: integer
          format: int64
          minimum: 0
          nullable: true
        method:
          $ref: "#/components/schemas/CreationMethod"
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          items:
            type: integer
            format: int64
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
    CreateSettlementInvoiceRequest:
      type: object
      required: [userId]
      properties:
        userId:
          type: integer
          format: int64
          minimum: 0
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        transactionIdToAmount:
          description: Map of transaction ID to amount (in major currency units, e.g., 10.50 for $10.50) for partial transaction inclusion
          type: object
          nullable: true
          additionalProperties:
            type: number
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        manualRecipient:
          $ref: "#/components/schemas/ManualRecipientRequest"
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        dueDatePropertyTimezone:
          type: string
          format: date
    GetCreditNotePreviewRequest:
      type: object
      required: [invoiceId, method]
      properties:
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        invoiceId:
          type: integer
          format: int64
          minimum: 1
        reason:
          type: string
          nullable: true
        userId:
          type: integer
          format: int64
          minimum: 0
          nullable: true
        method:
          $ref: "#/components/schemas/CreationMethod"
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          items:
            type: integer
            format: int64
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
    RectifyInvoiceNoteRequest:
      type: object
      required: [invoiceId, method]
      description: |
        Request to create a rectifying invoice. Only available for Spanish properties.

        **Important:** The specified invoice must not have been previously rectified.
        If it has been rectified, you must rectify the most recent invoice in the rectification chain instead.
      properties:
        invoiceId:
          type: integer
          format: int64
          description: |
            ID of the invoice to be rectified.

            **Validation:** This invoice must not have been previously rectified according to Spanish fiscal regulations.
        reason:
          type: string
          description: Reason for rectifying the invoice
        userId:
          type: integer
          format: int64
          description: ID of the user creating the rectification
        method:
          $ref: "#/components/schemas/CreationMethod"
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
    GetRectifyInvoiceNotePreviewRequest:
      type: object
      required: [invoiceId, method]
      description: |
        Request to create a rectifying invoice. Only available for Spanish properties.

        **Important:** The specified invoice must not have been previously rectified.
        If it has been rectified, you must rectify the most recent invoice in the rectification chain instead.
      properties:
        invoiceId:
          type: integer
          format: int64
          description: |
            ID of the invoice to be rectified.

            **Validation:** This invoice must not have been previously rectified according to Spanish fiscal regulations.
        reason:
          type: string
          description: Reason for rectifying the invoice
        userId:
          type: integer
          format: int64
          description: ID of the user creating the rectification
        method:
          $ref: "#/components/schemas/CreationMethod"
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          nullable: true
          items:
            type: integer
            format: int64
            minimum: 1
    CreateInvoiceRequest:
      type: object
      required: [transactionIds, sourceId, sourceKind, guestId]
      example:
        sourceId: 100
        sourceKind: "RESERVATION"
        includeTransactionIds: [123, 456]
        recipient:
          type: "GUEST"
          id: 1
      properties:
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        transactionIdToAmount:
          description: Map of transaction ID to amount (in major currency units, e.g., 10.50 for $10.50) for partial transaction inclusion
          type: object
          nullable: true
          additionalProperties:
            type: number
        sourceId:
          type: integer
          format: int64
          minimum: 1
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        userId:
          type: integer
          format: int64
          minimum: 0
          nullable: true
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        manualRecipient:
          $ref: "#/components/schemas/ManualRecipientRequest"
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        simplified:
          type: boolean
          default: false
          nullable: false
        dueDatePropertyTimezone:
          type: string
          format: date
    GetInvoicePreviewRequest:
      type: object
      required: [transactionIds, sourceId, sourceKind, guestId]
      properties:
        transactionIdToAmount:
          description: Map of transaction ID to amount (in major currency units, e.g., 10.50 for $10.50) for partial transaction inclusion
          type: object
          nullable: true
          additionalProperties:
            type: number
        transactionIds:
          deprecated: true
          description: Include transactions with the specified IDs (deprecated, use `includeTransactionIds` instead)
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        sourceId:
          type: integer
          format: int64
          minimum: 1
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        userId:
          type: integer
          format: int64
          minimum: 0
          nullable: true
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        manualRecipient:
          $ref: "#/components/schemas/ManualRecipientRequest"
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        simplified:
          type: boolean
          default: false
          nullable: false
        dueDatePropertyTimezone:
          type: string
          format: date
    ProFormaInvoicePreviewRequest:
      type: object
      required: [transactionIds, sourceId, sourceKind, guestId, recipient]
      properties:
        transactionIds:
          deprecated: true
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
          description: List of pending transaction IDs to include in the pro forma invoice (deprecated, use `includeTransactionIds` instead)
        transactionIdToAmount:
          description: Map of transaction ID to amount (in major currency units, e.g., 10.50 for $10.50) for partial transaction inclusion
          type: object
          nullable: true
          additionalProperties:
            type: number
        paymentIds:
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
          description: List of payment IDs associated with the pending transactions
        sourceId:
          type: integer
          format: int64
          minimum: 1
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        userId:
          type: integer
          format: int64
          minimum: 0
          nullable: true
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        invoiceDate:
          type: string
          format: date
          description: Date for the pro forma invoice (defaults to current date if not provided)
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
    ProFormaInvoiceRequest:
      type: object
      required: [transactionIds, sourceId, sourceKind, guestId, recipient]
      properties:
        transactionIds:
          deprecated: true
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
          description: List of pending transaction IDs to include in the pro forma invoice (deprecated, use `includeTransactionIds` instead)
        transactionIdToAmount:
          description: Map of transaction ID to amount (in major currency units, e.g., 10.50 for $10.50) for partial transaction inclusion
          type: object
          nullable: true
          additionalProperties:
            type: number
        paymentIds:
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
          description: List of payment IDs associated with the pending transactions
        sourceId:
          type: integer
          format: int64
          minimum: 1
        sequenceId:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        userId:
          type: integer
          format: int64
          minimum: 0
          nullable: true
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        invoiceDate:
          type: string
          format: date
          description: Date for the pro forma invoice (defaults to current date if not provided)
        folioIds:
          description: Include all transactions from the specified folio IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        excludeTransactionIds:
          description: Exclude transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
        includeTransactionIds:
          description: Include transactions with the specified IDs
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
    ProFormaStatusUpdateRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ACCEPTED, REJECTED, CANCELED]
          description: New status for the pro forma invoice
    RecipientRequest:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
          enum:
            - GUEST
            - CONTACT
            - GROUP
            - COMPANY
            - GROUP_PROFILE
            - GROUP_PROFILE_CONTACT
          description: Type of the recipient.
        id:
          type: integer
          format: int64
          description: ID of the recipient, references guestId, contactId, groupId, etc. depending on type.
          minimum: 1
        taxDocumentSource:
          type: string
          enum:
            - GUEST_TAX_ID
            - GUEST_DOCUMENT_NUMBER
          description: Source of the tax document number.
    ManualRecipientRequest:
      type: object
      required:
        - name
        - taxId
        - type
      properties:
        type:
          enum: [PERSON, COMPANY]
          description: Type of recipient (person or company)
        name:
          type: string
          description: Name of the recipient
          nullable: true
        gender:
          $ref: "#/components/schemas/GuestGender"
        email:
          type: string
          format: email
          description: Email address of the recipient
          nullable: true
        birthday:
          type: string
          format: date
          description: Birthday of the recipient
          nullable: true
        phone:
          type: string
          description: Phone number
          nullable: true
        cellPhone:
          type: string
          description: Cell phone number
          nullable: true
        taxId:
          type: string
          description: Tax ID / VAT number
          nullable: true
        address:
          type: object
          nullable: true
          properties:
            country:
              type: string
              description: Country code
              nullable: true
            state:
              type: string
              description: State or province
              nullable: true
            city:
              type: string
              description: City
              nullable: true
            address1:
              type: string
              description: Primary street address
              nullable: true
            address2:
              type: string
              description: Secondary street address
              nullable: true
            zip:
              type: string
              description: Zip/postal code
              nullable: true
        document:
          type: object
          nullable: true
          properties:
            type:
              $ref: "#/components/schemas/GuestDocumentType"
              description: Type of identification document
            number:
              type: string
              description: Document number
              nullable: true
            issueDate:
              type: string
              format: date
              description: Document issue date
              nullable: true
            issuingCountry:
              type: string
              description: Country that issued the document
              nullable: true
            expirationDate:
              type: string
              format: date
              description: Document expiration date
              nullable: true
    CreateSimpleReceiptRequest:
      type: object
      required: [transactionIds, sourceId, sourceKind, userId, recipient]
      properties:
        transactionIds:
          description: Ids of the transactions associated to payments
          type: array
          items:
            minItems: 1
            type: integer
            format: int64
        sequenceId:
          type: integer
          format: int64
          nullable: true
        userId:
          type: integer
          format: int64
          nullable: false
        sourceId:
          type: integer
          format: int64
          minimum: 1
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        manualRecipient:
          $ref: "#/components/schemas/ManualRecipientRequest"
        handwritten:
          type: boolean
          default: false
          description: Indicates this is a handwritten receipt created during POS unavailability. Only allowed for properties with Fiskaltrust integration enabled.
    CreateReceiptRequest:
      type: object
      required: [sourceId, sourceKind, userId]
      properties:
        allocations:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ReceiptTransactionAllocation"
          nullable: true
        transactionId:
          type: integer
          format: int64
          nullable: true
          description: |
            Id of the transaction associated to a payment. This parameter is mutually exclusive with `paymentId`.
        paymentId:
          description: |
            Id of the payment. This parameter is mutually exclusive with `transactionId`.
          type: integer
          format: int64
          nullable: true
        invoiceId:
          description: Id of invoice that receipt should be applied to. Ignored if allocations are presented.
          type: integer
          format: int64
          nullable: true
        sequenceId:
          type: integer
          format: int64
          nullable: true
        skipIntegration:
          description: At the moment this can only be set to True on Italy to skip the integration, for italy this case is needed to avoid Printing the Receipt
          type: boolean
          default: false
        handwritten:
          description: Indicates this is a handwritten receipt created during POS unavailability. Only allowed for properties with Fiskaltrust integration enabled.
          type: boolean
          default: false
        userId:
          type: integer
          format: int64
          nullable: false
        sourceId:
          type: integer
          format: int64
          minimum: 1
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
        manualRecipient:
          $ref: "#/components/schemas/ManualRecipientRequest"
    ApplyReceiptRequest:
      type: object
      required: [invoiceId]
      properties:
        invoiceId:
          type: integer
          format: int64
          description: The ID of the invoice to apply the receipt to.
    AllocateReceiptPaymentRequest:
      type: object
      required: [receiptId, allocations]
      properties:
        allocations:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ReceiptTransactionAllocation"
        receiptId:
          type: integer
          format: int64
          description: |
            Id of the receipt.
    ReceiptTransactionAllocation:
      type: object
      required: [transactionId, amount]
      properties:
        transactionId:
          type: integer
          format: int64
        amount:
          type: number
        documentId:
          type: integer
          format: int64
    FiscalDocumentDetailedResponse:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        propertyId:
          type: string
        userId:
          type: string
        userFullName:
          type: string
        sourceName:
          type: string
        sourceId:
          type: string
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        kind:
          $ref: "#/components/schemas/FiscalDocumentKind"
        invoiceDate:
          deprecated: true
          type: string
          format: date
        invoiceDatePropertyTimezone:
          type: string
          format: date
        fileName:
          type: string
        amount:
          type: number
        balance:
          type: number
        dueDate:
          deprecated: true
          type: string
          format: date
        dueDatePropertyTimezone:
          type: string
          format: date
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/RecipientDetails'
        status:
          $ref: '#/components/schemas/FiscalDocumentStatus'
        origin:
          type: string
        externalId:
          type: string
        failReason:
          type: string
        method:
          $ref: "#/components/schemas/CreationMethod"
        createdAt:
          type: string
          format: date-time
        parentId:
          type: string
        updatedAt:
          type: string
          format: date-time
        governmentIntegration:
          $ref: '#/components/schemas/GovernmentIntegration'
        latestLinkedDocument:
          $ref: '#/components/schemas/LatestLinkedDocument'
        linkedDocuments:
          type: array
          description: List of documents linked to this fiscal document (both parent and child relationships)
          items:
            $ref: '#/components/schemas/LinkedDocument'
        actions:
          $ref: '#/components/schemas/Actions'
        sourceIdentifier:
          type: string
          description: Reservation Identifier or a group code
        simplified:
          type: boolean
          nullable: false
          description: Applies to invoices only.
    FiscalDocumentSummaryResponse:
      type: object
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/FiscalDocumentKind'
        status:
          $ref: '#/components/schemas/FiscalDocumentStatus'
        governmentIntegration:
          $ref: '#/components/schemas/GovernmentIntegration'
        linkedTo:
          type: string
    FiscalDocumentPaginated:
      type: object
      properties:
        fiscalDocuments:
          type: array
          items:
            $ref: '#/components/schemas/FiscalDocumentDetailedResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
    FiscalDocumentTransactionResponse:
      type: object
      properties:
        id:
          type: string
        propertyId:
          type: string
        sourceId:
          type: string
        sourceIdentifier:
          type: string
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        transactionDate:
          type: string
          format: date-time
        guestName:
          type: string
        description:
          type: string
        internalCode:
          type: string
        amount:
          type: number
        availableAmount:
          type: number
        documentFiscalizedAmount:
          description: Will be null if filter is not by document id
          type: number
        folioId:
          type: string
        status:
          type: string
          enum: [PENDING, POSTED]
          description: Status of the transaction - PENDING for unpaid transactions, POSTED for paid transactions
        paidAmount:
          type: number
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/FiscalDocumentTransactionAllocation'
    FiscalDocumentTransactionsForAllocationPaginated:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionForAllocationResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
    FiscalDocumentTransactionsPaginated:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/FiscalDocumentTransactionResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
    FiscalDocumentTransactionAllocation:
      type: object
      properties:
        receiptNumber:
          type: string
    FiscalDocumentTransactionsSummary:
      type: object
      properties:
        chargesAndAdjustments:
          type: string
        taxes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amount:
                type: string
        paid:
          type: string
        refunded:
          type: string
        total:
          type: string
    TransactionsSummaryRequest:
      type: object
      required: [sourceId, sourceKind]
      properties:
        documentKind:
          $ref: "#/components/schemas/FiscalDocumentKind"
          description: Document type for which transactions are related.
        sourceId:
          type: integer
          format: int64
          minimum: 1
          description: Source ID.
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
          description: Filter by source kind.
        folioIds:
          type: array
          items:
            type: integer
            format: int64
          minItems: 1
          description: Filter by folio IDs.
        excludeTransactionIds:
          type: array
          items:
            type: integer
            format: int64
          minItems: 1
          description: Transaction IDs to exclude.
        includeTransactionIds:
          type: array
          items:
            type: integer
            format: int64
          minItems: 1
          description: Transaction IDs to include.
        transactionIdToAmount:
          type: object
          nullable: true
          additionalProperties:
            type: number
          description: Map of transaction ID to amount (in major currency units, e.g., 10.50 for $10.50) for partial transaction inclusion.
    AllocationsSummary:
      type: object
      properties:
        totalAmount:
          type: number
        totalAllocated:
          type: number
    Allocations:
      type: array
      items:
        $ref: "#/components/schemas/AllocationsData"
    AllocationsData:
      type: object
      properties:
        receipt_id:
          type: integer
          format: int64
          example: 8878321883381
        source_id:
          type: integer
          format: int64
          example: 8878321883383
        source_identifier:
          type: string
          example: HGJXJF
        source_kind:
          $ref: "#/components/schemas/SourceKind"
        allocations:
          type: array
          items:
            $ref: "#/components/schemas/SingleAllocation"
    SingleAllocation:
      type: object
      properties:
        transaction_id:
          type: integer
          format: int64
          example: 8878321883388
        allocated_amount:
          type: number
          example: 3.68
    InvoiceAllocationsResponse:
      type: object
      properties:
        allocations:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceTransactionAllocation"
    InvoiceTransactionAllocation:
      type: object
      properties:
        transaction_id:
          type: integer
          format: int64
          description: Invoice transaction ID that received the allocation
        allocated_amount:
          type: number
          description: Total amount allocated to this transaction from all receipts
    PreviewRequest:
      type: object
      properties:
        documentKind:
          $ref: "#/components/schemas/FiscalDocumentKind"
          description: Type of document to preview (defaults to INVOICE)
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
          description: Source type for the document (defaults to RESERVATION)
        recipientType:
          $ref: "#/components/schemas/RecipientType"
          description: Type of recipient to use in preview (defaults to COMPANY)
        includeVat:
          type: boolean
          default: false
          description: Include VAT tax breakdown section in preview
        includePayments:
          type: boolean
          default: true
          description: Include payment transactions section in preview
        includeRoomNumber:
          type: boolean
          default: true
          description: Include room number column in reservation previews
        previewWatermark:
          type: boolean
          default: true
          description: Show preview watermark on the document
    ConfigsUpdateRequest:
      type: object
      required: [showDetailedTaxFee, chargeBreakdown, useGuestLang, showLegalCompanyName, includeRoomNumber, isCompact, useDocumentNumber]
      properties:
        triggerEvents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentTriggerEvent'
        showDetailedTaxFee:
          type: boolean
        chargeBreakdown:
          type: boolean
        allowPendingTransactions:
          type: boolean
          default: false
        useGuestLang:
          type: boolean
        dueDays:
          type: integer
          format: int32
          default: 0
        sequenceStartNumber:
          type: integer
          format: int64
          nullable: true
          minimum: 1
          default: null
        lang:
          type: string
          nullable: true
        prefix:
          type: string
          nullable: true
        separator:
          type: string
          nullable: true
        suffix:
          type: string
          nullable: true
        legalCompanyName:
          type: string
          nullable: true
        title:
          type: object
          additionalProperties:
            type: string
          nullable: true
          example:
            en: "Invoice"
            es: "Factura"
        showLegalCompanyName:
          type: boolean
          default: false
        includeRoomNumber:
          type: boolean
          default: false
        useDocumentNumber:
          type: boolean
        updateInvoiceOnLinkDocument:
          type: boolean
          default: false
        isCompact:
          type: boolean
          default: false
        useInvoiceTitleAndNumbering:
          type: boolean
          description: Flag to determine if invoice title, sequenceStartNumber, prefix and suffix should be used.
          default: false
        useInvoiceDocumentSettings:
          type: boolean
          description: Flag to determine if invoice document settings should be used.
          default: false
        showCreditNotesAndReceipts:
          type: boolean
          description: Flag to determine if linked credit notes and receipts should be rendered in Invoice.
          default: false
        taxId1:
          type: string
          nullable: true
        taxId2:
          type: string
          nullable: true
        cpf:
          type: string
          nullable: true
        customText:
          type: object
          additionalProperties:
            type: string
          nullable: true
        logoId:
          type: integer
          format: int64
          nullable: true
        dateDisplay:
          $ref: '#/components/schemas/DateDisplay'
    FiscalDocumentPatchRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/FiscalDocumentStatus'
        failReason:
          type: string
        governmentIntegration:
          $ref: '#/components/schemas/GovernmentIntegration'
    GetFolioExportRequest:
      type: object
      required: [sourceId, sourceKind]
      properties:
        folioIds:
          description: Include transactions from the specified folio IDs. If omitted, all transactions for the source are included.
          type: array
          items:
            type: integer
            format: int64
          example: [3774744, 7763263217]
        sourceKind:
          $ref: "#/components/schemas/SourceKind"
        sourceId:
          description: source ID of folio
          type: integer
          format: int64
        creditDebitView:
          description: "Should transactions be separated into debit/credits"
          type: boolean
        revenueCompact:
          description: "Compact revenue transactions, valid only for sourceKind = RESERVATION"
          type: boolean
        dateFrom:
          description: "Minimum date filter (inclusive). Required for sourceKind = HOUSE_ACCOUNT, optional for others."
          type: string
          format: date
          nullable: true
          example: ""
        dateTo:
          description: "Maximum date filter (inclusive), optional."
          type: string
          format: date
          nullable: true
          example: ""
        format:
          $ref: "#/components/schemas/ExportFormat"
        recipient:
          $ref: "#/components/schemas/RecipientRequest"
          nullable: true
    ExportFormat:
      type: string
      description: Export file format
      enum:
        - PDF
        - XLSX
    RecipientDetails:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        type:
          $ref: '#/components/schemas/RecipientType'
        companyName:
          type: string
    FiscalDocumentRecipient:
      type: object
      properties:
        id:
[...]
