openapi: 3.0.0
info:
  title: 'Cloudbeds API v2'
  description: '<p>Welcome to the documentation for <strong>Cloudbeds API Version v2</strong>! If you are looking to learn how to use the Cloudbeds API to access guest information, reservations, or similar data for your Cloudbeds customers, then you''ve come to the right place.</p><p>In this document you will find all the API methods we provide along with explanations for parameters and response examples.</p><p>If you have questions about different implementation steps (e.g. how to implement OAuth 2.0), please refer to our <a href=''https://integrations.cloudbeds.com/hc/en-us''>Integrations Portal</a>.</p><p>Be sure to <a href=''https://go.pardot.com/l/308041/2018-07-24/qb2lg''>subscribe</a> to the monthly Cloudbeds API announcement mailing list to receive information on new additions and improvements to the Cloudbeds API and related developer tools.</p><p><strong>Endpoint:</strong> https://api.cloudbeds.com/{method}</p><p><strong>HTTPS:</strong> Our API requires HTTPS. We''ll respond with an appropriate error if you''re not using it.</p><p><strong>Request Format:</strong> HTTP GET, POST and PUT (Content-Type: application/x-www-form-urlencoded)</p><p><strong>Response Format:</strong> JSON</p><p><strong>Response Header:</strong> X-Request-ID is added to response headers in all calls to help accelerate support and troubleshooting.</p><p><strong><a href=''https://integrations.cloudbeds.com/hc/en-us/articles/14104678058267-API-Documentation#postman-collection''><img src=''https://run.pstmn.io/button.svg'' alt=''Run in Postman''></a></strong> use this link to access our Public collection in Postman.</p>'
  version: v2
servers:
  -
    url: 'https://api.cloudbeds.com/'
    description: 'Cloudbeds API v2'
paths:
  /addons/v1/addons:
    get:
      tags:
        - Addons
      summary: 'Retrieve property add-ons'
      description: 'Fetches list of Add-ons with basic information for a specific property'
      operationId: 'AddonController::getAddons'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
        -
          name: Accept-Language
          in: header
          description: 'The preferred language(s) for localized strings (e.g., en-US)'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonsResponseSchema'
        '400':
          description: 'Bad Request - Invalid input parameters'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized - Invalid or missing authentication'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - Insufficient permissions'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:addon'
  /amenities/v1/catalogs/amenities:
    get:
      tags:
        - Amenities
      summary: 'Get amenity catalog'
      description: 'Returns the complete list of amenities available for the specified scope (property or room) with their translated names and category codes.'
      operationId: 'AmenityCatalogController::getAmenityCatalog'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
        -
          name: scope
          in: query
          description: 'The scope of amenities to retrieve'
          required: true
          schema:
            type: string
            enum:
              - property
              - room
            example: property
      responses:
        '200':
          description: 'A list of amenities in the catalog for the requested scope.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAmenityCatalogResponseSchema'
        '400':
          description: 'Invalid or missing scope parameter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:read'
  /amenities/v1/catalogs/categories:
    get:
      tags:
        - Amenities
      summary: 'Get amenity category catalog'
      description: 'Returns the complete list of amenity categories available for the specified scope (property or room) with their translated names.'
      operationId: 'AmenityCatalogController::getAmenityCategoryCatalog'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
        -
          name: scope
          in: query
          description: 'The scope of amenities to retrieve'
          required: true
          schema:
            type: string
            enum:
              - property
              - room
            example: property
      responses:
        '200':
          description: 'A list of amenity categories in the catalog for the requested scope.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAmenityCategoryCatalogResponseSchema'
        '400':
          description: 'Invalid or missing scope parameter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:read'
  '/amenities/v1/properties/{propertyId}/amenities':
    get:
      tags:
        - Amenities
      summary: 'Get property amenities'
      description: 'Retrieve the complete set of active property amenities.'
      operationId: 'PropertyAmenityController::getPropertyAmenities'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
      responses:
        '200':
          description: 'Property amenities retrieved successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPropertyAmenitiesResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - missing required permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Property not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:read'
    put:
      tags:
        - Amenities
      summary: 'Update property amenities'
      description: 'Replace the complete set of active property amenities in a single atomic transaction.'
      operationId: 'PropertyAmenityController::updatePropertyAmenities'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
      requestBody:
        description: 'List of amenity codes to set for the property.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyAmenitiesRequestSchema'
      responses:
        '200':
          description: 'Property amenities updated successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePropertyAmenitiesResponseSchema'
        '400':
          description: 'Validation error - invalid amenity codes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - missing required permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Property not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:write'
  '/amenities/v1/properties/{propertyId}/room-amenities':
    get:
      tags:
        - Amenities
      summary: 'Get amenities for all rooms in a property'
      description: 'Retrieve the complete set of active amenities for all rooms in a property.'
      operationId: 'RoomAmenityController::getPropertyRoomsAmenities'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
      responses:
        '200':
          description: 'Room amenities retrieved successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPropertyRoomsAmenitiesResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - missing required permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Property not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:read'
    put:
      tags:
        - Amenities
      summary: 'Update amenities for multiple rooms'
      description: 'Replace the complete set of active amenities for multiple rooms in a single atomic transaction.'
      operationId: 'RoomAmenityController::updatePropertyRoomsAmenities'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
      requestBody:
        description: 'List of rooms with amenity codes to set.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyRoomsAmenitiesRequestSchema'
      responses:
        '200':
          description: 'Room amenities updated successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePropertyRoomsAmenitiesResponseSchema'
        '400':
          description: 'Validation error - invalid amenity codes or room IDs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - missing required permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Property or room not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:write'
  '/amenities/v1/properties/{propertyId}/rooms/{roomId}/amenities':
    get:
      tags:
        - Amenities
      summary: 'Get room amenities'
      description: 'Retrieve the complete set of active room amenities.'
      operationId: 'RoomAmenityController::getRoomAmenities'
      parameters:
        -
          name: roomId
          in: path
          description: 'The room id'
          required: true
          schema:
            type: integer
            example: 12345
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
      responses:
        '200':
          description: 'Room amenities retrieved successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoomAmenitiesResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - missing required permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Property or room not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:read'
    put:
      tags:
        - Amenities
      summary: 'Update room amenities'
      description: 'Replace the complete set of active room amenities in a single atomic transaction.'
      operationId: 'RoomAmenityController::updateRoomAmenities'
      parameters:
        -
          name: roomId
          in: path
          description: 'The room id'
          required: true
          schema:
            type: integer
            example: 12345
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: Accept-Language
          in: header
          description: 'RFC 5646 language preferences used for negotiation (e.g. es-ES, en;q=0.8).'
          required: false
          schema:
            type: string
            example: 'es-ES, en;q=0.8'
      requestBody:
        description: 'List of amenity codes to set for the room.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomAmenitiesRequestSchema'
      responses:
        '200':
          description: 'Room amenities updated successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRoomAmenitiesResponseSchema'
        '400':
          description: 'Validation error - invalid amenity codes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - missing required permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Property or room not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:write'
  /integration/v1/connected-applications:
    get:
      tags:
        - Applications
      summary: 'Get all connected API clients for a property'
      operationId: 'ApiClientController::connectedApiClients'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: scopes
          in: query
          description: 'List of OAuth scopes to filter by. Only API clients that have all specified scopes will be returned.'
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - 'delete:appPropertySettings'
                - 'delete:doorLockKey'
                - 'delete:item'
                - 'delete:marketsegment'
                - 'delete:roomblock'
                - 'read:addon'
                - 'read:adjustment'
                - 'read:allotmentBlock'
                - 'read:appPropertySettings'
                - 'read:communication'
                - 'read:currency'
                - 'read:customFields'
                - 'read:dashboard'
                - 'read:dataInsightsFinancialTransactions'
                - 'read:dataInsightsGuests'
                - 'read:dataInsightsInvoices'
                - 'read:dataInsightsOccupancy'
                - 'read:dataInsightsPayments'
                - 'read:dataInsightsReservations'
                - 'read:doorLockKey'
                - 'read:externalOffer'
                - 'read:group'
                - 'read:guest'
                - 'read:hotel'
                - 'read:houseAccount'
                - 'read:housekeeping'
                - 'read:item'
                - 'read:marketsegment'
                - 'read:nightAudit'
                - 'read:package'
                - 'read:payment'
                - 'read:rate'
                - 'read:reservation'
                - 'read:resourceReservations'
                - 'read:resourceTypes'
                - 'read:room'
                - 'read:roomblock'
                - 'read:taxesAndFees'
                - 'read:user'
                - 'write:adjustment'
                - 'write:allotmentBlock'
                - 'write:appError'
                - 'write:appPropertySettings'
                - 'write:communication'
                - 'write:customFields'
                - 'write:doorLockKey'
                - 'write:externalOffer'
                - 'write:group'
                - 'write:guest'
                - 'write:hotel'
                - 'write:houseAccount'
                - 'write:housekeeping'
                - 'write:item'
                - 'write:marketsegment'
                - 'write:payment'
                - 'write:rate'
                - 'write:reservation'
                - 'write:resourceReservations'
                - 'write:resourceTypes'
                - 'write:room'
                - 'write:roomblock'
          example:
            - 'read:reservation,write:appError'
      responses:
        '200':
          description: 'List of connected API clients'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResponseSchema'
        '400':
          description: 'Bad request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default: []
  '/doorlock/v1/keys/{propertyId}':
    get:
      tags:
        - 'Door Locks'
      summary: 'Get a list of doorlock keys for a specific app client and property.'
      operationId: 'DoorLockKeyController::index'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: reservationId
          in: query
          schema:
            $ref: '#/components/schemas/DoorLockKeyListRequestSchema/properties/reservationId'
        -
          name: subReservationId
          in: query
          schema:
            $ref: '#/components/schemas/DoorLockKeyListRequestSchema/properties/subReservationId'
        -
          name: keyIds
          in: query
          description: 'Comma separated list of key ids'
          schema:
            type: string
          example: '1,2,3'
      responses:
        '200':
          description: 'List of door lock keys.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockKeyListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:doorLockKey'
  /doorlock/v1/keys:
    post:
      tags:
        - 'Door Locks'
      summary: 'Create a new doorlock key.'
      operationId: 'DoorLockKeyController::create'
      requestBody:
        description: 'Key data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoorLockKeyCreateRequestSchema'
      responses:
        '201':
          description: 'A key that was just created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockKeyResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:doorLockKey'
    delete:
      tags:
        - 'Door Locks'
      summary: 'Delete a list of doorlock keys.'
      operationId: 'DoorLockKeyController::batchDelete'
      parameters:
        -
          name: keyIds
          in: query
          required: true
          schema:
            type: string
            example: '1,2'
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '204':
          description: 'Keys were cancelled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:doorLockKey'
  '/doorlock/v1/keys/{id}':
    delete:
      tags:
        - 'Door Locks'
      summary: 'Delete a doorlock key.'
      operationId: 'DoorLockKeyController::delete'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '204':
          description: 'A key that was just created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:doorLockKey'
    patch:
      tags:
        - 'Door Locks'
      summary: 'Update a doorlock key.'
      operationId: 'DoorLockKeyController::update'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Key data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoorLockKeyUpdateRequestSchema'
      responses:
        '200':
          description: 'Updated key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockKeyResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:doorLockKey'
  '/doorlock/v1/settings/{propertyId}':
    get:
      tags:
        - 'Door Locks'
      summary: 'Get doorlock settings for property for specific application client.'
      operationId: 'DoorLockSettingsController::single'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: 'Doorlock settings for property for specific application client.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockSettingsResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not Found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:doorLockKey'
    put:
      tags:
        - 'Door Locks'
      summary: 'Upsert doorlock settings for property for specific application client.'
      operationId: 'DoorLockSettingsController::upsert'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        description: 'Settings data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoorLockSettingsCreateRequestSchema'
      responses:
        '201':
          description: 'Empty response on successful create'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:doorLockKey'
    delete:
      tags:
        - 'Door Locks'
      summary: 'Delete doorlock settings for property for specific application client.'
      operationId: 'DoorLockSettingsController::delete'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: 'Empty response on successful delete'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not Found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:doorLockKey'
  /events/v2/events:
    get:
      tags:
        - Events
      summary: 'List events for a property'
      description: 'Returns a paginated list of events for a property. Events contain operational data and reference group profiles via profileId.'
      operationId: 'EventController::list'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventCode
          in: query
          schema:
            type: string
        -
          name: profileId
          in: query
          schema:
            type: string
        -
          name: status
          in: query
          schema:
            type: string
        -
          name: createdFrom
          in: query
          schema:
            type: string
            format: date-time
        -
          name: createdTo
          in: query
          schema:
            type: string
            format: date-time
        -
          name: startDateFrom
          in: query
          schema:
            type: string
            format: date
        -
          name: startDateTo
          in: query
          schema:
            type: string
            format: date
        -
          name: endDateFrom
          in: query
          schema:
            type: string
            format: date
        -
          name: endDateTo
          in: query
          schema:
            type: string
            format: date
        -
          name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
            minimum: 0
        -
          name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: 'List of events'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:group'
    post:
      tags:
        - Events
      summary: 'Create a new event'
      description: 'Creates a new event associated with an existing group profile or without any profile association.'
      operationId: 'EventController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequestSchema'
      responses:
        '201':
          description: 'Event created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/events/v2/events/{eventId}':
    get:
      tags:
        - Events
      summary: 'Get a single event'
      description: 'Returns detailed information about a specific event.'
      operationId: 'EventController::show'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code (e.g., "12345" or "g162795")'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Event details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:group'
    delete:
      tags:
        - Events
      summary: 'Delete an event'
      description: 'Deletes an event by ID or event code. This is a soft delete.'
      operationId: 'EventController::destroy'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 'Event deleted'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
    patch:
      tags:
        - Events
      summary: 'Update an existing event'
      description: 'Updates an event. Only provided fields are updated. For profileId: omit to keep, null to clear, string to replace.'
      operationId: 'EventController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdateRequestSchema'
      responses:
        '200':
          description: 'Event updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/events/v2/events/{eventId}/notes':
    get:
      tags:
        - Events
      summary: 'List notes for an event'
      description: 'Returns a paginated list of notes for a specific event.'
      operationId: 'EventNoteController::list'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
        -
          name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
            minimum: 0
        -
          name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        -
          name: includeArchived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'List of notes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventNoteListResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:group'
    post:
      tags:
        - Events
      summary: 'Create a note for an event'
      description: 'Creates a new note for a specific event.'
      operationId: 'EventNoteController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNoteCreateRequestSchema'
      responses:
        '201':
          description: 'Note created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventNoteSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/events/v2/events/{eventId}/notes/{noteId}':
    patch:
      tags:
        - Events
      summary: 'Update an event note'
      description: 'Updates an existing note or archives it.'
      operationId: 'EventNoteController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
        -
          name: noteId
          in: path
          description: 'Note ID'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNoteUpdateRequestSchema'
      responses:
        '200':
          description: 'Note updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventNoteSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Event or note not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/housekeeping/v1/inspections/{propertyId}':
    get:
      tags:
        - Housekeeping
      summary: 'Housekeeping inspection list'
      operationId: 27abd48cb30106ec3251cf3baf34174c
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
      responses:
        '200':
          description: 'A paged array of inspections'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectionListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
      security:
        -
          default:
            - 'read:housekeeping'
  /integration/v1/events:
    get:
      tags:
        - 'Integration Events'
      summary: 'Get a list of integration events for a specific property.'
      operationId: 'IntegrationEventController::index'
      parameters:
        -
          name: sort
          in: query
          description: 'A string specifying fields for sorting with optional directions (e.g., asc or desc).'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterSortSchema'
          example: 'checkin_date:desc;checkout_date'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '200':
          description: 'List of integration events.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default: []
    post:
      tags:
        - 'Integration Events'
      summary: 'Create a new integration event.'
      operationId: 'IntegrationEventController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Integration event data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventCreateRequestSchema'
      responses:
        '201':
          description: 'An integration event that was just created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:appError'
  '/integration/v1/events/{id}':
    patch:
      tags:
        - 'Integration Events'
      summary: 'Update an integration event.'
      operationId: 'IntegrationEventController::update'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Integration event data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventUpdateRequestSchema'
      responses:
        '200':
          description: 'An integration event that was just updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:appError'
  '/integration/v1/events/{id}/retry':
    post:
      tags:
        - 'Integration Events'
      summary: 'Retry an integration event.'
      operationId: 'IntegrationEventController::retry'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '202':
          description: 'A request was sent to initiate integration event retry.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default: []
  /item/v1/custom-items:
    get:
      tags:
        - Items
      summary: 'Get a list of custom items for a specific property.'
      operationId: 'CustomItemController::index'
      parameters:
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '200':
          description: 'List of custom items.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomItemListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:item'
  /item/v1/items:
    post:
      tags:
        - Items
      summary: 'Post one or more items to a reservation, house account, or group profile'
      description: 'Adds items to a reservation, house account, or group profile. This endpoint supports batch operations, allowing multiple items to be posted in a single request. Each item can have associated payments and custom pricing.'
      operationId: 'ItemController::createItems'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Items to post with optional payment information'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostItemsRequestSchema'
      responses:
        '201':
          description: 'Items successfully posted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostItemsResponseSchema'
        '400':
          description: 'Bad request - invalid parameters or validation errors'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden - insufficient permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found - reservation, house account, or group not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:item'
  /market-segmentation/v1/groups:
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get a list of Market Segmentation Groups.'
      operationId: 'GroupController::index'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
      responses:
        '200':
          description: 'List of Market Segmentation Groups.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Create a new Market Segmentation Group.'
      operationId: 'GroupController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Group data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequestSchema'
      responses:
        '201':
          description: 'Created Market Segmentation Group.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/groups/{id}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get Market Segmentation Group data.'
      operationId: 'GroupController::single'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupSingleRequestSchema/properties/id'
      responses:
        '200':
          description: 'Market Segmentation Group data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
    delete:
      tags:
        - 'Market Segmentation'
      summary: 'Delete a Market Segmentation Group.'
      operationId: 'GroupController::delete'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupDeleteRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Group was deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:marketsegment'
    patch:
      tags:
        - 'Market Segmentation'
      summary: 'Update a Market Segmentation Group.'
      operationId: 'GroupController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupUpdateRequestSchema/properties/id'
      requestBody:
        description: 'Group data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateRequestSchema'
      responses:
        '200':
          description: 'Updated Market Segmentation Group.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/groups/{id}/enable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Enable a Market Segmentation Group.'
      operationId: 'GroupController::enable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupEnableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Group was enabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/groups/{id}/disable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Disable a Market Segmentation Group.'
      operationId: 'GroupController::disable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupDisableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Group was disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{enabled}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get a list of Market Segmentation Segments.'
      operationId: 'SegmentController::index'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: enabled
          in: path
          description: 'List only enabled segments.'
          required: true
          schema:
            type: boolean
            example: 'false'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
      responses:
        '200':
          description: 'List of Market Segmentation Segments.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentListResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
  '/market-segmentation/v1/segments/{id}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get Market Segmentation Segment data.'
      operationId: 'SegmentController::single'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentSingleRequestSchema/properties/id'
      responses:
        '200':
          description: 'Market Segmentation Segment data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
    delete:
      tags:
        - 'Market Segmentation'
      summary: 'Delete a Market Segmentation Segment.'
      operationId: 'SegmentController::delete'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentDeleteRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:marketsegment'
    patch:
      tags:
        - 'Market Segmentation'
      summary: 'Update a Market Segmentation Segment.'
      operationId: 'SegmentController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentUpdateRequestSchema/properties/id'
      requestBody:
        description: 'Segment data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentUpdateRequestSchema'
      responses:
        '200':
          description: 'Updated Market Segmentation Segment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/reservations/{active}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get a list of reservations linked to a Market Segmentation Segment.'
      operationId: 'SegmentController::reservations'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            type: string
            example: 1-b
        -
          name: active
          in: path
          description: 'List only active reservations.'
          required: true
          schema:
            type: boolean
            example: 'false'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: '0'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
            minimum: 1
          example: '100'
      responses:
        '200':
          description: 'List of reservations linked to a Market Segmentation Segment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentListReservationsResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
  /market-segmentation/v1/segments:
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Create a new Market Segmentation Segment.'
      operationId: 'SegmentController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Segment data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentCreateRequestSchema'
      responses:
        '201':
          description: 'Created Market Segmentation Segment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/enable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Enable a Market Segmentation Segment.'
      operationId: 'SegmentController::enable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentEnableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was enabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/disable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Disable a Market Segmentation Segment.'
      operationId: 'SegmentController::disable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentDisableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/default':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Set Market Segmentation Segment as Default.'
      operationId: 'SegmentController::default'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentEnableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was set as default.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  /property/v1/system:
    get:
      tags:
        - Property
      summary: 'Retrieves the property''s system component versions'
      operationId: 'SystemController::getSystem'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '200':
          description: 'Successfully retrieved property features'
          content:
            application/json:
[...]
