openapi: 3.0.0
info:
  title: 'Cloudbeds API v2'
  description: '<p>Welcome to the documentation for <strong>Cloudbeds API Version v2</strong>! If you are looking to learn how to use the Cloudbeds API to access guest information, reservations, or similar data for your Cloudbeds customers, then you''ve come to the right place.</p><p>In this document you will find all the API methods we provide along with explanations for parameters and response examples.</p><p>If you have questions about different implementation steps (e.g. how to implement OAuth 2.0), please refer to our <a href=''https://integrations.cloudbeds.com/hc/en-us''>Integrations Portal</a>.</p><p>Be sure to <a href=''https://go.pardot.com/l/308041/2018-07-24/qb2lg''>subscribe</a> to the monthly Cloudbeds API announcement mailing list to receive information on new additions and improvements to the Cloudbeds API and related developer tools.</p><p><strong>Endpoint:</strong> https://api.cloudbeds.com/{method}</p><p><strong>HTTPS:</strong> Our API requires HTTPS. We''ll respond with an appropriate error if you''re not using it.</p><p><strong>Request Format:</strong> HTTP GET, POST and PUT (Content-Type: application/x-www-form-urlencoded)</p><p><strong>Response Format:</strong> JSON</p><p><strong>Response Header:</strong> X-Request-ID is added to response headers in all calls to help accelerate support and troubleshooting.</p><p><strong><a href=''https://integrations.cloudbeds.com/hc/en-us/articles/14104678058267-API-Documentation#postman-collection''><img src=''https://run.pstmn.io/button.svg'' alt=''Run in Postman''></a></strong> use this link to access our Public collection in Postman.</p>'
  version: v2
servers:
  -
    url: 'https://api.cloudbeds.com/'
    description: 'Cloudbeds API v2'
paths:
  /addons/v1/addons:
    get:
      tags:
        - Addons
      summary: 'Retrieve property add-ons'
      description: 'Fetches list of Add-ons with basic information for a specific property'
      operationId: 'AddonController::getAddons'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
        -
          name: Accept-Language
          in: header
          description: 'The preferred language(s) for localized strings (e.g., en-US)'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonsResponseSchema'
        '400':
          description: 'Bad Request - Invalid input parameters'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized - Invalid or missing authentication'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - Insufficient permissions'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:addon'
  /integration/v1/connected-applications:
    get:
      tags:
        - Applications
      summary: 'Get all connected API clients for a property'
      operationId: 'ApiClientController::connectedApiClients'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: scopes
          in: query
          description: 'List of OAuth scopes to filter by. Only API clients that have all specified scopes will be returned.'
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - 'delete:appPropertySettings'
                - 'delete:doorLockKey'
                - 'delete:item'
                - 'delete:marketsegment'
                - 'delete:roomblock'
                - 'read:addon'
                - 'read:adjustment'
                - 'read:allotmentBlock'
                - 'read:appPropertySettings'
                - 'read:communication'
                - 'read:currency'
                - 'read:customFields'
                - 'read:dashboard'
                - 'read:dataInsightsFinancialTransactions'
                - 'read:dataInsightsGuests'
                - 'read:dataInsightsInvoices'
                - 'read:dataInsightsOccupancy'
                - 'read:dataInsightsPayments'
                - 'read:dataInsightsReservations'
                - 'read:doorLockKey'
                - 'read:externalOffer'
                - 'read:group'
                - 'read:guest'
                - 'read:hotel'
                - 'read:houseAccount'
                - 'read:housekeeping'
                - 'read:item'
                - 'read:marketsegment'
                - 'read:nightAudit'
                - 'read:package'
                - 'read:payment'
                - 'read:rate'
                - 'read:reservation'
                - 'read:room'
                - 'read:roomblock'
                - 'read:taxesAndFees'
                - 'read:user'
                - 'write:adjustment'
                - 'write:allotmentBlock'
                - 'write:appError'
                - 'write:appPropertySettings'
                - 'write:communication'
                - 'write:customFields'
                - 'write:doorLockKey'
                - 'write:externalOffer'
                - 'write:group'
                - 'write:guest'
                - 'write:hotel'
                - 'write:houseAccount'
                - 'write:housekeeping'
                - 'write:item'
                - 'write:marketsegment'
                - 'write:payment'
                - 'write:rate'
                - 'write:reservation'
                - 'write:room'
                - 'write:roomblock'
          example:
            - 'read:reservation,write:appError'
      responses:
        '200':
          description: 'List of connected API clients'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResponseSchema'
        '400':
          description: 'Bad request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default: []
  '/doorlock/v1/keys/{propertyId}':
    get:
      tags:
        - 'Door Locks'
      summary: 'Get a list of doorlock keys for a specific app client and property.'
      operationId: 'DoorLockKeyController::index'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: reservationId
          in: query
          schema:
            $ref: '#/components/schemas/DoorLockKeyListRequestSchema/properties/reservationId'
        -
          name: subReservationId
          in: query
          schema:
            $ref: '#/components/schemas/DoorLockKeyListRequestSchema/properties/subReservationId'
        -
          name: keyIds
          in: query
          description: 'Comma separated list of key ids'
          schema:
            type: string
          example: '1,2,3'
      responses:
        '200':
          description: 'List of door lock keys.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockKeyListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:doorLockKey'
  /doorlock/v1/keys:
    post:
      tags:
        - 'Door Locks'
      summary: 'Create a new doorlock key.'
      operationId: 'DoorLockKeyController::create'
      requestBody:
        description: 'Key data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoorLockKeyCreateRequestSchema'
      responses:
        '201':
          description: 'A key that was just created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockKeyResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:doorLockKey'
    delete:
      tags:
        - 'Door Locks'
      summary: 'Delete a list of doorlock keys.'
      operationId: 'DoorLockKeyController::batchDelete'
      parameters:
        -
          name: keyIds
          in: query
          required: true
          schema:
            type: string
            example: '1,2'
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '204':
          description: 'Keys were cancelled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:doorLockKey'
  '/doorlock/v1/keys/{id}':
    delete:
      tags:
        - 'Door Locks'
      summary: 'Delete a doorlock key.'
      operationId: 'DoorLockKeyController::delete'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '204':
          description: 'A key that was just created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:doorLockKey'
    patch:
      tags:
        - 'Door Locks'
      summary: 'Update a doorlock key.'
      operationId: 'DoorLockKeyController::update'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Key data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoorLockKeyUpdateRequestSchema'
      responses:
        '200':
          description: 'Updated key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockKeyResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:doorLockKey'
  '/doorlock/v1/settings/{propertyId}':
    get:
      tags:
        - 'Door Locks'
      summary: 'Get doorlock settings for property for specific application client.'
      operationId: 'DoorLockSettingsController::single'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: 'Doorlock settings for property for specific application client.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorLockSettingsResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not Found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:doorLockKey'
    put:
      tags:
        - 'Door Locks'
      summary: 'Upsert doorlock settings for property for specific application client.'
      operationId: 'DoorLockSettingsController::upsert'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        description: 'Settings data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoorLockSettingsCreateRequestSchema'
      responses:
        '201':
          description: 'Empty response on successful create'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:doorLockKey'
    delete:
      tags:
        - 'Door Locks'
      summary: 'Delete doorlock settings for property for specific application client.'
      operationId: 'DoorLockSettingsController::delete'
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: 'Empty response on successful delete'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Not Found response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:doorLockKey'
  /events/v2/events:
    get:
      tags:
        - Events
      summary: 'List events for a property'
      description: 'Returns a paginated list of events for a property. Events contain operational data and reference group profiles via profileId.'
      operationId: 'EventController::list'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventCode
          in: query
          schema:
            type: string
        -
          name: profileId
          in: query
          schema:
            type: string
        -
          name: status
          in: query
          schema:
            type: string
        -
          name: createdFrom
          in: query
          schema:
            type: string
            format: date-time
        -
          name: createdTo
          in: query
          schema:
            type: string
            format: date-time
        -
          name: startDateFrom
          in: query
          schema:
            type: string
            format: date
        -
          name: startDateTo
          in: query
          schema:
            type: string
            format: date
        -
          name: endDateFrom
          in: query
          schema:
            type: string
            format: date
        -
          name: endDateTo
          in: query
          schema:
            type: string
            format: date
        -
          name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
            minimum: 0
        -
          name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: 'List of events'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:group'
    post:
      tags:
        - Events
      summary: 'Create a new event'
      description: 'Creates a new event associated with an existing group profile or without any profile association.'
      operationId: 'EventController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequestSchema'
      responses:
        '201':
          description: 'Event created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/events/v2/events/{eventId}':
    get:
      tags:
        - Events
      summary: 'Get a single event'
      description: 'Returns detailed information about a specific event.'
      operationId: 'EventController::show'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code (e.g., "12345" or "g162795")'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Event details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:group'
    delete:
      tags:
        - Events
      summary: 'Delete an event'
      description: 'Deletes an event by ID or event code. This is a soft delete.'
      operationId: 'EventController::destroy'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 'Event deleted'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
    patch:
      tags:
        - Events
      summary: 'Update an existing event'
      description: 'Updates an event. Only provided fields are updated. For profileId: omit to keep, null to clear, string to replace.'
      operationId: 'EventController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdateRequestSchema'
      responses:
        '200':
          description: 'Event updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/events/v2/events/{eventId}/notes':
    get:
      tags:
        - Events
      summary: 'List notes for an event'
      description: 'Returns a paginated list of notes for a specific event.'
      operationId: 'EventNoteController::list'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
        -
          name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
            minimum: 0
        -
          name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        -
          name: includeArchived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'List of notes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventNoteListResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:group'
    post:
      tags:
        - Events
      summary: 'Create a note for an event'
      description: 'Creates a new note for a specific event.'
      operationId: 'EventNoteController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNoteCreateRequestSchema'
      responses:
        '201':
          description: 'Note created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventNoteSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Event not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/events/v2/events/{eventId}/notes/{noteId}':
    patch:
      tags:
        - Events
      summary: 'Update an event note'
      description: 'Updates an existing note or archives it.'
      operationId: 'EventNoteController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: eventId
          in: path
          description: 'Event ID or event code'
          required: true
          schema:
            type: string
        -
          name: noteId
          in: path
          description: 'Note ID'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNoteUpdateRequestSchema'
      responses:
        '200':
          description: 'Note updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventNoteSingleResponseSchema'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '404':
          description: 'Event or note not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:group'
  '/housekeeping/v1/inspections/{propertyId}':
    get:
      tags:
        - Housekeeping
      summary: 'Housekeeping inspection list'
      operationId: 27abd48cb30106ec3251cf3baf34174c
      parameters:
        -
          name: propertyId
          in: path
          description: 'The property ID'
          required: true
          schema:
            type: integer
            example: 1
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
      responses:
        '200':
          description: 'A paged array of inspections'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectionListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
      security:
        -
          default:
            - 'read:housekeeping'
  /integration/v1/events:
    get:
      tags:
        - 'Integration Events'
      summary: 'Get a list of integration events for a specific property.'
      operationId: 'IntegrationEventController::index'
      parameters:
        -
          name: sort
          in: query
          description: 'A string specifying fields for sorting with optional directions (e.g., asc or desc).'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterSortSchema'
          example: 'checkin_date:desc;checkout_date'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '200':
          description: 'List of integration events.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default: []
    post:
      tags:
        - 'Integration Events'
      summary: 'Create a new integration event.'
      operationId: 'IntegrationEventController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Integration event data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventCreateRequestSchema'
      responses:
        '201':
          description: 'An integration event that was just created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:appError'
  '/integration/v1/events/{id}':
    patch:
      tags:
        - 'Integration Events'
      summary: 'Update an integration event.'
      operationId: 'IntegrationEventController::update'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Integration event data'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventUpdateRequestSchema'
      responses:
        '200':
          description: 'An integration event that was just updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:appError'
  '/integration/v1/events/{id}/retry':
    post:
      tags:
        - 'Integration Events'
      summary: 'Retry an integration event.'
      operationId: 'IntegrationEventController::retry'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '202':
          description: 'A request was sent to initiate integration event retry.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default: []
  /item/v1/custom-items:
    get:
      tags:
        - Items
      summary: 'Get a list of custom items for a specific property.'
      operationId: 'CustomItemController::index'
      parameters:
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '200':
          description: 'List of custom items.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomItemListResponseSchema'
        '400':
          description: 'Bad Request response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:item'
  /item/v1/items:
    post:
      tags:
        - Items
      summary: 'Post one or more items to a reservation, house account, or group profile'
      description: 'Adds items to a reservation, house account, or group profile. This endpoint supports batch operations, allowing multiple items to be posted in a single request. Each item can have associated payments and custom pricing.'
      operationId: 'ItemController::createItems'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Items to post with optional payment information'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostItemsRequestSchema'
      responses:
        '201':
          description: 'Items successfully posted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostItemsResponseSchema'
        '400':
          description: 'Bad request - invalid parameters or validation errors'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden - insufficient permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found - reservation, house account, or group not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:item'
  /market-segmentation/v1/groups:
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get a list of Market Segmentation Groups.'
      operationId: 'GroupController::index'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
      responses:
        '200':
          description: 'List of Market Segmentation Groups.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Create a new Market Segmentation Group.'
      operationId: 'GroupController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Group data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequestSchema'
      responses:
        '201':
          description: 'Created Market Segmentation Group.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/groups/{id}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get Market Segmentation Group data.'
      operationId: 'GroupController::single'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupSingleRequestSchema/properties/id'
      responses:
        '200':
          description: 'Market Segmentation Group data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
    delete:
      tags:
        - 'Market Segmentation'
      summary: 'Delete a Market Segmentation Group.'
      operationId: 'GroupController::delete'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupDeleteRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Group was deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:marketsegment'
    patch:
      tags:
        - 'Market Segmentation'
      summary: 'Update a Market Segmentation Group.'
      operationId: 'GroupController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupUpdateRequestSchema/properties/id'
      requestBody:
        description: 'Group data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateRequestSchema'
      responses:
        '200':
          description: 'Updated Market Segmentation Group.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/groups/{id}/enable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Enable a Market Segmentation Group.'
      operationId: 'GroupController::enable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupEnableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Group was enabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/groups/{id}/disable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Disable a Market Segmentation Group.'
      operationId: 'GroupController::disable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Group ID.'
          required: true
          schema:
            $ref: '#/components/schemas/GroupDisableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Group was disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{enabled}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get a list of Market Segmentation Segments.'
      operationId: 'SegmentController::index'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: enabled
          in: path
          description: 'List only enabled segments.'
          required: true
          schema:
            type: boolean
            example: 'false'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
        -
          name: filters
          in: query
          description: 'This parameter should be formatted as a list of strings separated by ;'
          required: false
          schema:
            $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
          example: 'field1:value;field2:operator:value'
      responses:
        '200':
          description: 'List of Market Segmentation Segments.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentListResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
  '/market-segmentation/v1/segments/{id}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get Market Segmentation Segment data.'
      operationId: 'SegmentController::single'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentSingleRequestSchema/properties/id'
      responses:
        '200':
          description: 'Market Segmentation Segment data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
    delete:
      tags:
        - 'Market Segmentation'
      summary: 'Delete a Market Segmentation Segment.'
      operationId: 'SegmentController::delete'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentDeleteRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'delete:marketsegment'
    patch:
      tags:
        - 'Market Segmentation'
      summary: 'Update a Market Segmentation Segment.'
      operationId: 'SegmentController::update'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentUpdateRequestSchema/properties/id'
      requestBody:
        description: 'Segment data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentUpdateRequestSchema'
      responses:
        '200':
          description: 'Updated Market Segmentation Segment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/reservations/{active}':
    get:
      tags:
        - 'Market Segmentation'
      summary: 'Get a list of reservations linked to a Market Segmentation Segment.'
      operationId: 'SegmentController::reservations'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            type: string
            example: 1-b
        -
          name: active
          in: path
          description: 'List only active reservations.'
          required: true
          schema:
            type: boolean
            example: 'false'
        -
          name: offset
          in: query
          description: 'The number of items to skip before starting to collect the result set. Used for pagination.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '0'
        -
          name: limit
          in: query
          description: 'The maximum number of items to return in the response. Default is 100.'
          required: false
          schema:
            $ref: '#/components/schemas/LimitOffsetPaginationSchema'
          example: '100'
      responses:
        '200':
          description: 'List of reservations linked to a Market Segmentation Segment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentListReservationsResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:marketsegment'
  /market-segmentation/v1/segments:
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Create a new Market Segmentation Segment.'
      operationId: 'SegmentController::create'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      requestBody:
        description: 'Segment data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentCreateRequestSchema'
      responses:
        '201':
          description: 'Created Market Segmentation Segment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/enable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Enable a Market Segmentation Segment.'
      operationId: 'SegmentController::enable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentEnableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was enabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/disable':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Disable a Market Segmentation Segment.'
      operationId: 'SegmentController::disable'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentDisableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  '/market-segmentation/v1/segments/{id}/default':
    post:
      tags:
        - 'Market Segmentation'
      summary: 'Set Market Segmentation Segment as Default.'
      operationId: 'SegmentController::default'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: id
          in: path
          description: 'Segment ID.'
          required: true
          schema:
            $ref: '#/components/schemas/SegmentEnableRequestSchema/properties/id'
      responses:
        '204':
          description: 'Market Segmentation Segment was set as default.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResponseSchema'
        '400':
          description: 'Bad request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '403':
          description: 'Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:marketsegment'
  /property/v1/system:
    get:
      tags:
        - Property
      summary: 'Retrieves the property''s system component versions'
      operationId: 'SystemController::getSystem'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
      responses:
        '200':
          description: 'Successfully retrieved property features'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemResponseSchema'
        '400':
          description: 'Bad Request - Invalid input parameters or business rule violation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized - Invalid or missing authentication'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden - Insufficient permissions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not Found - Property not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'read:hotel'
  '/reservation/v1/reservations/{reservationId}/rooms/{reservationRoomId}':
    patch:
      tags:
        - Reservations
      summary: 'Update room assignment for a reservation'
      description: 'Assign, reassign, or unassign a room to/from a reservation booking room'
      operationId: 'ReservationRoomController::updateRoom'
      parameters:
        -
          name: x-property-id
          in: header
          description: 'A numeric, comma-separated string representing the property IDs, sent in the header.'
          required: true
          schema:
            type: string
            example: '1,2,3'
        -
          name: reservationId
          in: path
          description: 'Reservation identifier'
          required: true
          schema:
            type: string
            example: '12345'
        -
          name: reservationRoomId
          in: path
          description: 'Reservation room identifier'
          required: true
          schema:
            type: string
            example: '67890'
      requestBody:
        description: 'Room update data'
        required: true
        content:
          application/json:
            schema:
              properties:
                roomId:
                  description: 'Room ID to assign (format: ''roomTypeId-roomNumber''), or null to unassign'
                  type: string
                  example: 10-101
                  nullable: true
                adjustPrice:
                  description: 'Whether to adjust price if room assignment changes rate'
                  type: boolean
                  default: false
              type: object
      responses:
        '200':
          description: 'Room updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateReservationRoomResponseSchema'
        '400':
          description: 'Bad Request - Invalid input data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '401':
          description: 'Unauthorized response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '403':
          description: 'Forbidden response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseSchema'
        '404':
          description: 'Not Found - Reservation or reservation room not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'hotel:write'
  /rooms/v1/out-of-service:
    post:
      tags:
        - Rooms
      summary: 'Room out of service'
      operationId: 'OutOfServiceController::make'
      requestBody:
        description: 'Out of service request body.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceRoomsOutOfServiceRequest'
      responses:
        '201':
          description: 'Rooms were placed out of service successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfServiceResponseSchema'
        '400':
          description: 'At least one of the rooms could not be placed out of service'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseSchema'
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseSchema'
      security:
        -
          default:
            - 'write:room'
components:
  schemas:
    FeatureEnum:
      description: 'The operator to use for the filter'
      type: string
      enum:
        - feature.integrations.example
        - feature.integrations.generate-dummy-doorlock-keys
        - feature.distribution.market-segmentation
        - feature.distribution.market-segmentation-enable-custom-group
        - feature.distribution.age-policy-new-system-enabled
        - feature.distribution.age-policy-dual-write-enabled
        - feature.distribution.age-policy-validation-enabled
        - feature.distribution.age-policy-auto-rollback-enabled
        - feature.distribution.age-policy-centralized-service-layer
        - feature.distribution.send-rate-plan-if-promo-code-removed
        - feature.inventory.rate-plans
        - feature.inventory.derived-rate-plans-from-non-base-rate-plans
        - feature.inventory.derived-rate-plans-from-another-derived-rate-plans
        - feature.inventory.enable-rate-snapshots
        - feature.prop-staff.property-feature-cache
    GetAddonsRequestSchema:
      allOf:
        -
          $ref: '#/components/schemas/LimitOffsetPaginationSchema'
        -
          $ref: '#/components/schemas/QueryParameterDynamicFilterSchema'
    AddonResponseSchema:
      required:
        - id
        - name
        - description
        - productId
        - price
      properties:
        id:
          description: 'Unique identifier of the add-on'
          type: string
          example: '98765'
        name:
          description: 'Display name of the add-on, localized based on the Accept-Language header'
          type: string
          example: Breakfast
        description:
          description: 'Human-readable description, localized based on the Accept-Language header'
          type: string
          example: 'A basic continental breakfast...'
        productId:
          description: 'Identifier of the underlying product this add-on is based on'
          type: string
          example: '12345'
        price:
          $ref: '#/components/schemas/MoneySchema'
      type: object
    AddonsResponseSchema:
      required:
        - offset
        - limit
        - data
      properties:
        offset:
          description: 'Number of results to skip'
          type: integer
          example: 0
        limit:
          description: 'Maximum number of results to return'
          type: integer
          example: 100
        data:
          description: 'Contains the list of add-on details'
          type: array
          items:
            $ref: '#/components/schemas/AddonResponseSchema'
      type: object
    AgePolicyCreateRequestSchema:
      required:
        - config
        - extraGuestsConfig
        - groups
      properties:
        config:
          description: Configuration.
          type: string
          enum:
            - single
            - multiple
          example: single
        extraGuestsConfig:
          description: 'Extra guests configuration.'
          type: string
          enum:
            - per_age_group
            - per_each_guest
          example: per_age_group
        groups:
          description: 'List of age groups.'
          type: array
          items:
            required:
              - groupType
              - minAge
            properties:
              groupType:
                description: 'Age group type. Must be one of the valid age group types.'
                type: string
                enum:
                  - child
                  - adult
              minAge:
                description: 'Minimum age for this age group.'
                type: integer
              maxAge:
                description: 'Maximum age for this age group.'
                type: integer
            type: object
          example:
            -
              groupType: child
              minAge: 0
              maxAge: 17
        customLabel:
          description: 'Custom label (Adults or Guests)'
          type: string
          example: Adults
          nullable: true
      type: object
    AgePolicyPatchRequestSchema:
      required:
        - id
        - config
        - extraGuestsConfig
      properties:
        id:
          description: 'Age Policy ID.'
          type: string
          example: 1-b
        config:
          description: Configuration.
          type: string
          enum:
            - single
            - multiple
          example: single
          nullable: true
        extraGuestsConfig:
          description: 'Extra guests configuration.'
          type: string
          enum:
            - per_age_group
            - per_each_guest
          example: per_age_group
          nullable: true
        customLabel:
          description: 'Custom label (Adults or Guests)'
          type: string
          example: Adults
          nullable: true
      type: object
    AgePolicyUpdateRequestSchema:
      required:
        - id
        - config
        - extraGuestsConfig
        - groups
      properties:
        id:
          description: 'Age Policy ID.'
          type: string
          example: 1-b
        config:
          description: Configuration.
          type: string
          enum:
            - single
            - multiple
          example: single
        extraGuestsConfig:
          description: 'Extra guests configuration.'
          type: string
          enum:
            - per_age_group
            - per_each_guest
          example: per_age_group
        groups:
          description: 'List of age groups.'
          type: array
          items:
            required:
              - groupType
              - minAge
            properties:
              id:
                description: 'Age group ID.'
                type: string
              groupType:
                description: 'Age group type. Must be one of the valid age group types.'
                type: string
                enum:
                  - child
                  - adult
              minAge:
                description: 'Minimum age for this age group.'
                type: integer
              maxAge:
                description: 'Maximum age for this age group.'
                type: integer
              applyRateFromId:
                description: 'Apply rate from age group ID.'
                type: string
            type: object
          example:
            -
              id: group-2
              groupType: child
              minAge: 0
              maxAge: 17
              applyRateFromId: group-1
        customLabel:
          description: 'Custom label (Adults or Guests)'
          type: string
          example: Adults
          nullable: true
      type: object
    AgeGroupResponseSchema:
      required:
        - id
        - groupType
        - minAge
        - createdAt
      properties:
        id:
          type: string
        groupType:
          type: string
        minAge:
          type: integer
        maxAge:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: 'Y-m-d\TH:i:sP'
        updatedAt:
          type: string
          format: 'Y-m-d\TH:i:sP'
          nullable: true
      type: object
    AgePolicyResponseSchema:
      required:
        - id
        - config
        - extraGuestsConfig
        - createdAt
      properties:
        id:
          type: string
        config:
          type: string
        extraGuestsConfig:
          type: string
        customLabel:
          type: string
          nullable: true
        groups:
          type: array
          items:
            $ref: '#/components/schemas/AgeGroupResponseSchema'
          nullable: true
        createdAt:
          type: string
          format: 'Y-m-d\TH:i:sP'
        updatedAt:
          type: string
          format: 'Y-m-d\TH:i:sP'
          nullable: true
      type: object
    AllotmentBlockAutoReleaseScheduleCreateRequestSchema:
      required:
        - releaseDate
        - allotmentBlockId
        - roomTypeId
        - startDate
        - endDate
        - releaseValueType
        - releaseValue
      properties:
        releaseDate:
          type: string
          example: '2025-01-01'
        allotmentBlockId:
          type: string
          example: '10'
        roomTypeId:
          type: string
          example: '5'
        startDate:
          type: string
          example: '2025-01-01'
        endDate:
          type: string
          example: '2025-01-07'
        releaseValueType:
          type: string
          example: quantity
        releaseValue:
          type: integer
          example: 5
        releaseUnits:
          type: string
          example: '1,2,3'
          nullable: true
      type: object
    AllotmentBlockAutoReleaseScheduleDeleteRequestSchema:
      required:
        - id
      properties:
        id:
          type: string
          example: '123'
        allotmentBlockId:
          type: string
          example: '10'
      type: object
    AllotmentBlockAutoReleaseScheduleListRequestSchema:
      required:
        - allotmentBlockId
      properties:
        allotmentBlockId:
          type: string
          example: '10'
        roomTypeIds:
          description: 'Filter by room type IDs. Comma-separated list of room type IDs. Values passed as strings to avoid precision loss'
          type: string
          example: '5,6'
          nullable: true
        releaseDate:
          description: 'Filter by schedule release date. Use single date (2025-01-01) or range (2025-01-01..2025-01-31)'
          type: string
          example: 2025-01-01..2025-01-31
          nullable: true
        startDate:
          description: 'Filter by schedule start date. Use single date (2025-01-01) or range (2025-01-01..2025-01-31)'
          type: string
          example: 2025-01-01..2025-01-31
          nullable: true
        endDate:
          description: 'Filter by schedule end date. Use single date (2025-01-01) or range (2025-01-01..2025-01-31)'
          type: string
          example: 2025-01-01..2025-01-31
          nullable: true
      type: object
    AllotmentBlockAutoReleaseScheduleUpdateRequestSchema:
      required:
        - id
      properties:
        id:
          type: string
          example: '123'
        releaseDate:
          type: string
          example: '2025-01-01'
          nullable: true
        allotmentBlockId:
          type: string
          example: '10'
          nullable: true
        roomTypeId:
          type: string
          example: '5'
          nullable: true
        startDate:
          type: string
          example: '2025-01-01'
          nullable: true
        endDate:
          type: string
          example: '2025-01-07'
          nullable: true
        releaseValueType:
          type: string
          example: quantity
          nullable: true
        releaseValue:
          type: integer
          example: 5
          nullable: true
        releaseUnits:
          type: string
          example: '1,2,3'
          nullable: true
      type: object
    AllotmentBlockAutoReleaseScheduleBulkCreateItemSchema:
      required:
        - releaseDate
        - roomTypeId
        - startDate
        - endDate
        - releaseValueType
        - releaseValue
      properties:
        releaseDate:
          type: string
          example: '2025-01-01'
        roomTypeId:
          type: string
          example: '5'
        startDate:
          type: string
          example: '2025-01-01'
        endDate:
          type: string
          example: '2025-01-07'
        releaseValueType:
          type: string
          example: quantity
        releaseValue:
          type: integer
          example: 5
        releaseUnits:
          type: string
          example: '1,2,3'
          nullable: true
      type: object
    AllotmentBlockAutoReleaseScheduleBulkCreateRequestSchema:
      required:
        - allotmentBlockId
        - items
      properties:
        allotmentBlockId:
          type: string
          example: '10'
        items:
          type: array
          items:
            $ref: '#/components/schemas/AllotmentBlockAutoReleaseScheduleBulkCreateItemSchema'
      type: object
    AllotmentBlockAutoReleaseScheduleBulkUpdateItemSchema:
      required:
        - id
      properties:
        id:
          type: string
          example: '123'
        releaseDate:
          type: string
          example: '2025-01-01'
          nullable: true
        allotmentBlockId:
          type: string
          example: '10'
          nullable: true
        roomTypeId:
          type: string
          example: '5'
          nullable: true
        startDate:
          type: string
          example: '2025-01-01'
          nullable: true
        endDate:
          type: string
[...]
